[2021-11-19 20:02] zubepaul opened #104 "Create Community Section on Forum"
**Description**
Create a community section on the forum where the activity and needs of the SCRF community can be discussed publically. This is going to be community lead task.

**Steps**
- [ ] Create "about" documentation for the new category
- [ ] Update the forum "About" section so that it contains either a link to GitHub Repo or has the boilerplate content in it
- [ ] Create category on forum

[2021-11-29 19:00] zubepaul opened #105 "Task: Consistency Pinned Posts"

[2021-12-02 15:51] ralphlombreglia opened #106 "Task: Freshness and Coverage"
**Description**
Alert content team to gaps in coverage.

**Examples**
- [ ] Missing pinned posts in each category
   [https://github.com/smartcontractresearchforum/engagement/issues/105](https://github.com/smartcontractresearchforum/engagement/issues/105)

[2021-12-02 16:35] ralphlombreglia opened #107 "Task: Clean-up Post Ideas"
Every post idea should have a response and a decision. Cadence should be daily or weekly. Funnel these into the researcher application.

[2021-12-02 16:43] ralphlombreglia opened #108 "Task: Clean up glossary"
Glossary proposals need to have an outcome and a decision. Weekly cadence. Funnel these into the researcher application.

[2022-03-29 15:19] zubepaul opened #94 "Epic: Onboarding Process"
### Description
The current onboarding process is being re-evaluated and edited.

**Steps**
- [x] Create an overall project plan
- [x] Create 1 month, 3 month, and 6 month project plans
- [ ] Create a maintenance schedule

**Resources**
- [SCRF Onboarding Epic Project Plan](https://docs.google.com/document/d/165eKYmPWhxD5gBJCBuzALimvzoNbBYSzV9HoabmnCPQ/edit#)
- smartcontractresearchforum/engagemen

[2022-03-31 18:33] zubepaul opened #95 "Task: Onboarding One Month Project"
### Description
This issue is related to the Onboarding Epic issue smartcontractresearchforum/engagement#94 and tracks the initial One Month project plan

**Resources**
- [Project Plan](https://docs.google.com/document/d/1WK8LW-DwWBNO08Y88pp6ClfQBb3Le7GmBdbnplaAM8Y/edit)

[2022-03-31 18:35] zubepaul opened #96 "Task: Onboarding Phase 2"
### Description
This issue tracks the work for the Three Month plan for onboarding associated with the Epic issue smartcontractresearchforum/engagement#94
### Steps
- [ ] Create Project Proposal that explains the iterations for phase 2 of onboarding
- [ ] Get approval for changes and direction
- [ ] Present to PPP to help explain people understand changes and get feedback
- [ ] Set a deadline for

[2022-03-31 18:36] zubepaul opened #97 "Task: Onboarding Six Month Project"

[2022-04-08 04:33] ttaloute opened #110 "Project:"
### Commenting Guide [for Forum]

This guide spells out why and how to make posts on the forum and it includes examples of comments, engagement team contact information and is planned to live somewhere publicly - Github?  where new community members could easily access.

### Work Plan
- [ ] Review and get approval Guide language
- [ ] Decide where to post
- [ ] (Engagement) Make a monthly announce

[2022-04-13 03:46] vincenzospaghetti opened #98 "Changes to Discord for Onboarding"
Activly making changes on the Discord Test Server to organize for onboarding.

Several changes have been made. Please see the test server. Brian and team will present changes before implementing on the public facing server.

Some changes include:
- hierarchy of information
-  onboarding category
-  onboarding channels within category
-  ticketing bot to onboard individuals and put a workflow to th

[2022-05-16 15:40] SirAh0 opened #93 "Chat - Phase Two - Analytics"

[2022-05-16 16:03] SirAh0 opened #1 "Setup Committee Project Boards"

[2022-05-16 16:05] SirAh0 opened #2 "Kickoff Meeting & Initial Team Setup GtM Board"
- [ ] Create needed team structure
- [ ] Create GtM Board
- [ ] Setup UAR for teams
- [ ] add Ralph and James
- [ ] Setup GtM Board

[2022-05-16 20:11] zubepaul opened #109 "Project: Comment of the Month Revision"
### Description
Updating the comment of the month process to increase engagement and participation in it.
### Resources
[Proposal Document](https://docs.google.com/document/d/12R6tG3WMjWMOh-hcOTXgneM5G8hYcn4LvO9v5ZBK6J8/edit#heading=h.dwcmw2ic01n2)

[2022-05-16 20:53] zubepaul commented on #2
An initial test/draft board was created, and this seems like a good model to emulate. Does it make sense to continue working within this draft?
https://github.com/orgs/smartcontractresearchforum/projects/14/views/1

[2022-05-16 21:05] zubepaul opened #3 "SourceCred Community Committee Minutes May 13 2022"
### Action Items
### Next Steps for this by next month?
- Collectively focus on the project board and create issues
- @zubepaul  will send this out to people
- Co-create an agenda
- How to propose and get approval the treasury allotment
- What happens to treasury funds overall?
- How do we promote the meeting
- Discuss how to define membership

Ideas:
Sponsored posts/bounties
We should create this

[2022-05-31 19:22] vincenzospaghetti opened #4 "Welcome Packet"

[2022-06-02 14:51] brian-scrf opened #5 "i'm not even a part of this!"

[2022-06-02 21:21] SirAh0 opened #6 "🗪 - Change Request"
### Issue Text

- [ ] a thing
- [ ] another thing
### Describe your request below

[2022-06-02 21:25] SirAh0 opened #7 "🗪 - Change Request"
### Issue Text

- [ ] a thing
- [ ] another thing
### Describe your request below

[2022-06-02 21:42] SirAh0 opened #8 "🗪 - Change Request"
### Follow Up Tasks

### Tasks
- [ ] Describe
- [ ] another thing

### Describe the Change Request

_No response_

[2022-06-02 21:53] SirAh0 opened #9 "🗪 - Change Request"
### Follow Up Tasks

### Tasks
- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success

### Benefits

it's going to be great, trust me.

### Change Request

t

[2022-06-02 22:48] SirAh0 opened #10 "🗪 [🤖] Bad Bot"
### Bot Name

sesh

### Describe Problem

its not posting calendar events anymore.

[2022-06-02 22:50] #6 closed

[2022-06-02 22:50] #7 closed

[2022-06-02 22:50] #8 closed

[2022-06-02 22:50] #9 closed

[2022-06-02 22:52] SirAh0 opened #11 "🗪 [🤖] Bad Bot"
### Bot Name

sesh

### Describe Problem

its not posting the community calendar anymore

[2022-06-03 02:47] liberty7369 opened #12 "🗪 [🚧] Change Request - Threads, Live, Ticket Tool"
### Launch Ready Task List

### Launch Ready Task List
- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable

[2022-06-03 04:20] SirAh0 commented on #12
The bot dashboard didn't save one of the steps. This should be fixed tomorrow, I'm going to make a ticket for the fix and I will link it back here when it's ready.

[2022-06-03 04:24] SirAh0 opened #13 "🗪 [🤖] Bad Bot - Ticket Tool Configuration"
### Bot Name

Ticket Tool

### Describe Problem

The Ticket Tool for the onboarding #apply-here channel is missing a few configurations.

@vincenzospaghetti
- [ ] Please list the changes needed as a comment to this issue.

[2022-06-03 04:25] SirAh0 commented on #12
Here is the issue
#13

[2022-06-03 04:27] #11 closed

[2022-06-03 04:37] SirAh0 opened #14 "🗪 [🚧] - Enable LIVE"
### Launch Ready Task List
- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

@l

[2022-06-03 04:37] brian-scrf commented on #12
[🗪 [🚧] Change Request - Enable LIVE](https://github.com/smartcontractresearchforum/engagement/issues/14)

[2022-06-03 04:41] SirAh0 opened #15 "🗪 [🚧] - Enable Threads"
### Launch Ready Task List
- [x] Schedule a meet with @SirAh0 to implement the change on test server
- [x] Pick a launch window for this change to go live
- [x] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

-

[2022-06-03 04:41] brian-scrf commented on #12
[🗪 [🚧] Change Request - Enable Threads](https://github.com/smartcontractresearchforum/engagement/issues/15)

[2022-06-03 04:42] SirAh0 commented on #12
https://github.com/smartcontractresearchforum/engagement/issues/14

[2022-06-03 04:43] SirAh0 commented on #12
[🗪 [🚧] Change Request - Enable Threads](https://github.com/smartcontractresearchforum/engagement/issues/15)

[2022-06-03 04:49] SirAh0 commented on #15
- [ ] @ghettodev Update Discord Settings
In order to enable Threads, Discord Settings -> Roles -> Default Permissions

![image](https://user-images.githubusercontent.com/12703396/171788062-6a65db42-5ae9-41a6-a0c3-51221c2a5343.png)

Then enable **Create Public Threads** and **Manage Threads**

![image](https://user-images.githubusercontent.com/12703396/171788123-10769000-bb81-4866-97f6-f8cb7d6a2325

[2022-06-03 05:04] SirAh0 opened #16 "🗪 [🔓] - Use Voice Activity"
### Request

@ghettodev

**Role** @everyone

**Permission** VOICE CHANNEL PERMISSIONS - Use Voice Activity
- [x] Toggle On - Use Voice Activity

![image](https://user-images.githubusercontent.com/12703396/171789787-f6a21539-0f43-49de-bc16-b5129f67d4e9.png)

[2022-06-03 05:09] SirAh0 opened #17 "🗪 [🔓] - Threads, create public threads and manage threads"
### Request

@ghettodev

**USER ROLE** @everyone
- [x] Create Public Threads - Toggle ON
- [x] Manage Threads - Toggle ON

In order to enable Threads, Discord Settings -> Roles -> Default Permissions

![image](https://user-images.githubusercontent.com/12703396/171788062-6a65db42-5ae9-41a6-a0c3-51221c2a5343.png)

Then enable **Create Public Threads** and **Manage Threads**

![image](https://user-im

[2022-06-03 05:12] SirAh0 commented on #12
This issue has been closed and split into individual issues.

[2022-06-03 05:12] #12 closed

[2022-06-03 15:10] vincenzospaghetti commented on #13
https://docs.google.com/document/d/17emRq-FFycF2Y-9hvyJXn7OnG6zFFDOiTSQ9Pr4o4lo/edit?usp=sharing

Here is a doc outlining the changes! The changes needed are also on the Test Net.

Here are some images from the Test Net.

![image](https://user-images.githubusercontent.com/93289575/171881645-df821aa7-aa15-4104-a878-5c1397bccaab.png)

![image](https://user-images.githubusercontent.com/93289575/17188

[2022-06-03 15:57] SirAh0 commented on #13
Steps are also listed here
https://docs.google.com/document/d/17emRq-FFycF2Y-9hvyJXn7OnG6zFFDOiTSQ9Pr4o4lo/

[2022-06-03 19:51] #13 closed

[2022-06-03 20:40] SirAh0 opened #18 "🗪 [🚧] - Turn it 25 degrees"
### Launch Ready Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

I

[2022-06-04 02:41] #18 closed

[2022-06-05 18:14] SirAh0 opened #19 "🗪 [🤖] - Official Discord System spamming community"
### Bot Name

official discord

### Describe Problem

The official discord bot was routing its system update announcements to our community channel.

The messages will now show up in the bot/admin log cahnnel.

[2022-06-05 18:14] #19 closed

[2022-06-06 14:47] SirAh0 opened #20 "🗪 [🚧] >Welcome #🏁start-here Branding"
### Related Tasks
SCRF Org Readme
https://github.com/smartcontractresearchforum/research_team/issues/248

Org ReadMe #115
https://github.com/smartcontractresearchforum/discovery/issues/115

### Launch Ready Task List

- [x] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the la

[2022-06-06 17:39] SirAh0 opened #21 "🗪 [📅] New URL for Community Calendar"
### Describe Problem

Update all listed events to use the new community calendar url

Community calendar
https://calendar.google.com/calendar/u/0?cid=bnVsbEBzY3JmLmlv

[2022-06-06 17:42] SirAh0 commented on #21
all events updated.

[2022-06-06 17:42] #21 closed

[2022-06-06 19:46] SirAh0 opened #22 "🗪 [🔓] FORUM-NOTIFICATIONS - Make Private"
### Request

**User Role**
 @everyone
 @community

**Category Settings**

**Set Private Category**
![image](https://user-images.githubusercontent.com/12703396/172236138-13ffd606-cf1d-4b0d-977e-4c57f4dd9e32.png)

**@everyone View Channels NO**
![image](https://user-images.githubusercontent.com/12703396/172236448-1157ccdf-3ab4-4a57-8eef-15182763c64d.png)

@community View Channels YES
![image](https:

[2022-06-06 19:54] ghettodev commented on #22
should be fixed now, pls confirm

[2022-06-06 19:55] #22 closed

[2022-06-07 21:29] SirAh0 commented on #20
- [ ] @SirAh0 Add this ticket to the [PB](https://github.com/orgs/smartcontractresearchforum/projects/18/views/1)

[2022-06-08 01:50] zubepaul opened #45 "Bounty: Forum Expert Cryptography EXAMPLE"
### Eligibility
This bounty is for Contributor or higher members of SCRF.
### Steps to Success
- [x] Write a comment on 5 different posts in the Cryptography category on the [SCRF Forum](https://www.smartcontractresearch.org/c/cryptography/12)
- [x] Use the [SCRF Style Guide](https://github.com/smartcontractresearchforum/docs/blob/main/en/reference_style_guide.md) to help you produce high quality

[2022-06-08 02:01] zubepaul opened #23 "Bounty: Privacy Notable Works"

[2022-06-09 16:54] SirAh0 opened #24 "🗪 [🚧] TicketTool - Send DM on New Applications"
### Launch Ready Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

C

[2022-06-09 17:12] SirAh0 opened #25 "🗪 [🔓] Emjois on #introductions"
### Request

@community

enable emjois.

[2022-06-09 17:25] zubepaul opened #26 "SourceCred Meeting Agenda June 9, 2022"
## Agenda
- [x] Introductions of new people
- [x] SourceCred Overview
- [x] Using GitHub to manage our committee
- [ ] Current implementation and areas to improve for June
### Meeting Minutes from May
- #3

[2022-06-10 17:08] SirAh0 commented on #26
Presentation Deck
https://docs.google.com/presentation/d/1LFFm2tg-sRkwjP54W8-0q7cjmLM_n6BePkIcr-w36eY/edit?usp=sharing

[2022-06-10 17:10] RuthTolulope opened #27 "🗪 [🔓] UAR"
### Request

-Tolu#5138

[2022-06-10 17:11] zubepaul opened #28 "SourceCred Meeting Minutes June 10, 2022"

[2022-06-10 18:26] SirAh0 commented on #27
done

[2022-06-10 18:26] #27 closed

[2022-06-10 19:37] RuthTolulope opened #29 "🗪 [🔓] UAR"
### Request

-Bookie#4960

[2022-06-10 21:22] SirAh0 commented on #28
Regarding the payout formula used for May 2022.

The May payout discarded those who opted in but did not have a discourse forum account.

Currently, there is a high incentive to opt in and do nothing as no work is required to get paid. The amount is too high when contrasted with people who have a cred rank.

I propose we take a percent of the Return DAI Pool as a flat sum given to all who Opt In.

[2022-06-10 21:27] SirAh0 commented on #28
The current SCRF Docs for SourceCred can be found here

https://github.com/smartcontractresearchforum/docs/blob/main/en/scrf_scred.md

[2022-06-10 23:57] SirAh0 opened #30 "🗪 [🚧] Role Color Change"
### Launch Ready Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

T

[2022-06-11 00:02] SirAh0 commented on #29
Hi Ruth,

What role does Bookie need?

[2022-06-11 00:05] SirAh0 commented on #25
![Image](https://user-images.githubusercontent.com/12703396/173164335-539884b0-c597-4b62-9d44-e24c47dbab34.png)

[2022-06-11 00:06] #25 closed

[2022-06-11 00:14] SirAh0 commented on #20
- [ ] setup live server with @SirAh0 take

[2022-06-11 03:55] RuthTolulope commented on #29
PM role, thanks!

On Sat, 11 Jun 2022 at 01:02, Brian Alexakis ***@***.***>
wrote:

[2022-06-13 15:57] zubepaul commented on #28
The notebooks that were mentioned by Seth during the SourceCred Committee meeting:
https://observablehq.com/@sourcecred/cred-and-grain-csv-downloader
https://github.com/smartcontractresearchforum/scrf-sourcecred/tree/gh-pages
https://observablehq.com/@hernandoagf/credgraph-contribution-explorer-beta

[2022-06-13 16:54] vincenzospaghetti opened #31 "🗪 [🚧] Change Request"
### Launch Ready Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

1

[2022-06-13 17:27] SirAh0 opened #32 "🗪 [🚧] New Logo Server Icons"
### Launch Ready Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

B

[2022-06-13 17:29] SirAh0 commented on #29
done

[2022-06-14 12:47] twan-dev opened #34 "🗪 [🔓] UAR"
### Request

jringo_#2719 needs to get a "researcher" role. Thanks!

[2022-06-14 15:14] brian-scrf commented on #34
![image](https://user-images.githubusercontent.com/103541291/173613390-ce4bf9fa-e769-45ac-ad63-137baf979148.png)

[2022-06-14 15:14] SirAh0 commented on #34
![image](https://user-images.githubusercontent.com/12703396/173613537-01b6e05c-575c-4a66-8b0b-f71b467dd7df.png)

[2022-06-14 15:14] #34 closed

[2022-06-14 18:06] SirAh0 commented on #32
![Image](https://user-images.githubusercontent.com/12703396/173659073-8966f559-5421-402f-8009-21e831ac5cc7.png)

[2022-06-14 18:07] #32 closed

[2022-06-14 19:45] SirAh0 commented on #30
Test Server

![Image](https://user-images.githubusercontent.com/12703396/173675440-31754e8f-0d55-4969-8ef8-b51f470dddaf.png)

[2022-06-14 20:06] SirAh0 opened #35 "🗪 [🔓] SCRF Discord User List"
### Reason for Issue
Currently we have a lot of people in Discord who are using the researcher role. The vertical roles as defined in [Terms and Titles ](https://docs.google.com/document/d/1_6v1vVUEV12UpSP8hN0Fq-TmvgHWEIejuiv6Cz1h23E/edit?usp=sharing) now need to be applied to the discord user list.

In order to launch the next round of changes to Discord Chat, a list needs to be created of all us

[2022-06-15 03:18] twan-dev commented on #35
I think we need to come to terms with visibility and what info goes up before setting it up

[2022-06-15 16:52] vincenzospaghetti opened #36 "🗪 [🤖] Ticket Tool - Title, Colors"
### Bot Name

Ticket Tool for Onbaording

### Changes

https://tickettool.xyz/

![Image](https://user-images.githubusercontent.com/12703396/174329146-dabe7d72-eec8-430d-971f-9bb68fd4f626.png)

![image](https://user-images.githubusercontent.com/12703396/174330413-a895eb79-f70d-4af6-8639-126f5e8a9eb9.png)

Empty Message Text Field
![image](https://user-images.githubusercontent.com/12703396/174330978

[2022-06-15 16:53] vincenzospaghetti opened #37 "🗪 [🚧] Change Request"
### Launch Ready Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

-

[2022-06-15 17:14] twan-dev opened #38 "🗪 [🔓] UAR"
### Request

tebogo#7143 deserves a researcher role to work on the PAG. Thanks, Brian!

[2022-06-15 18:44] SirAh0 commented on #36
Thank you, I'll expect to get this fixed on Monday 6/20

[2022-06-16 16:29] zubepaul opened #39 "SourceCred Meeting Agenda for July 8, 2022"
### Agenda
- [ ] Create agenda with the community. Please submit through the comments on this issue.
### Resources
- [Meeting Minutes from June 10th](https://github.com/smartcontractresearchforum/engagement/issues/28)

[2022-06-16 18:03] Fizzymidas commented on #39
Adding a leaderboard.
I think it was mentioned sometime in the conversations.

[2022-06-16 19:13] SirAh0 opened #40 "✅ Closed: Role is no longer vacant"

[2022-06-16 19:14] #40 closed

[2022-06-16 19:14] SirAh0 opened #41 "👀 Active Search (Priority): An extra column to highlighted priority vacancies"

[2022-06-16 19:20] SirAh0 opened #42 "🔨 - A test job"
### Requirements
- [x] Rich Approval
- [x] Eugene Approval

in order to move this ticket forward... blahblasdjk

---

**Job Description**

[2022-06-17 06:23] SirAh0 opened #43 "🗪 [🚧] Update Bot Icon"
### Launch Ready Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] After a month, schedule a follow up meeting with @SirAh0 to explain why this change was a success
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

P

[2022-06-17 06:25] SirAh0 commented on #43
Done
![image](https://user-images.githubusercontent.com/12703396/174238141-2b3f46ed-c4de-47d4-9c47-14b252bf9674.png)

![image](https://user-images.githubusercontent.com/12703396/174238154-cabbde20-32db-4aeb-bfb3-11c843d2c9b0.png)

[2022-06-17 06:25] #43 closed

[2022-06-17 08:51] Fizzymidas commented on #15
This is a cool one.

Will the threads have a fixed time in which they close when inactive?

[2022-06-17 15:15] SirAh0 commented on #37
moved this issue to the main thread issue:
https://github.com/smartcontractresearchforum/engagement/issues/15

[2022-06-17 15:15] #37 closed

[2022-06-17 15:17] SirAh0 commented on #38
done

[2022-06-17 15:52] SirAh0 commented on #36
Duplicated sub-Issue, create DM

https://github.com/smartcontractresearchforum/engagement/issues/24

[2022-06-17 19:33] SirAh0 opened #44 "🗃️ - New Job Listing"
### Team

test

### New Role Name

test

### Role Proposal

test

[2022-06-17 21:00] SirAh0 commented on #2
Pinging this issue, lets get a working meeting and finish setting this up.

[2022-06-18 03:13] SirAh0 commented on #35
This is a list of discord users and their role within the SCRF org which we are trying to make public through the Discord user list.

This will enable, per the terms and title doc, the SCRF Discord server to sort the user list according to role.

The purpose of the spreadsheet is to capture that list.

There is no information beyond the discord user name and the role in the org.

[2022-06-18 03:17] SirAh0 commented on #35
Feel free to just DM the list if you don't want to add it in the spreadsheet.

[2022-06-18 03:29] SirAh0 commented on #15
I have worked with a bot before that can keep threads permanently open if we need to do that. From what I have gleaned on the channel, most side chats don't occur over a long period of time so I doubt it will be an issue.

[2022-06-18 04:23] SirAh0 opened #46 "🎯 - Bounty"
### Describe Notable Work

this is a test - it should automatically show up on the https://github.com/orgs/smartcontractresearchforum/projects/32 project baord

[2022-06-18 04:25] SirAh0 opened #47 "🎯 - Bounty"
### Describe Notable Work

Test bounty that should show up in the [Engagement Vertical Board](https://github.com/orgs/smartcontractresearchforum/projects/32)

[2022-06-18 04:26] SirAh0 opened #48 "🎯 - Bounty"
### Describe Notable Work

A test issue that should automagicly show up in the [Engagement Vertical Board](https://github.com/orgs/smartcontractresearchforum/projects/32)

[2022-06-18 04:29] SirAh0 opened #49 "🎯 - Bounty"
### Tasks

### Steps to Success
- [ ] Use the 🔗 [Notable Works](https://github.com/smartcontractresearchforum/docs/blob/main/en/content_notable_works_template.md) template to submit **five** total notable works to the `Privacy` category on the [forum](https://www.smartcontractresearch.org/t/notable-works-in-privacy/101/6)
- [ ] Provide a justification for why this is an appropriate notable work in

[2022-06-18 05:19] SirAh0 commented on #31
After review, this might be something to integrate but it wont be in the june launch window.

[2022-06-19 20:09] SirAh0 commented on #28
Monthly reports will be listed here
https://github.com/orgs/smartcontractresearchforum/projects/31/views/10

[2022-06-19 20:11] SirAh0 opened #50 "👀 How to Join - Source Cred and SCRF"
Find all the resources available for SourceCred and SCRF in the official Repo file:
🔗 [SourceCred and SCRF](https://github.com/smartcontractresearchforum/docs/blob/main/en/scrf_scred.md)

[2022-06-19 20:12] SirAh0 commented on #50
🔗 [SourceCred and SCRF](https://github.com/smartcontractresearchforum/docs/blob/main/en/scrf_scred.md)

[2022-06-19 20:14] #50 closed

[2022-06-19 20:18] SirAh0 opened #51 "⁉️ Need to Request a Discord Chat Change?"
### How to Submit a Discord Change Request

[🗪 Chat - 🚧 Change Request](https://github.com/smartcontractresearchforum/engagement/issues/new?labels=chat&template=a-chat-change-request.yml&title=%F0%9F%97%AA+%5B%F0%9F%9A%A7%5D+Change+Request)

[🗪 Chat - 🤖 Bad Bot](https://github.com/smartcontractresearchforum/engagement/issues/new?labels=bug%2Cchat&template=chat-bad-bot.yml&title=%F0%9F%97%AA+%5B%F0

[2022-06-19 20:19] #51 closed

[2022-06-20 00:33] SirAh0 opened #52 "🗪 Chat - Audit for Stale Channels"
### Reason for Change
There are currently a lot of channels that are not being used at all or very little.

### Tasks
- [ ] Create a list of channels that have little to no activity
- [ ] Present this list in the next Discord Guild Meeting
- [ ] decide if they should be moved to the chopping block in the next Discord Guild Meeting

[2022-06-20 15:44] zubepaul opened #53 "Engagement Vertical Meeting Agenda June 20, 2022"
## Agenda
- Vertical Overview
- Meeting Purpose
- Scheduling
### Preparation Materials
- Please come prepared to brainstorm and seek clarification.

[2022-06-20 17:48] zubepaul opened #54 "Engagement Vertical Meeting Minutes June 20, 2022"

[2022-06-20 22:09] SirAh0 opened #55 "🗪 [🔓] UAR"
### Request

Tamar

be able able to see #new-users in Apply Here

[2022-06-20 22:11] #55 closed

[2022-06-21 17:37] SirAh0 opened #56 "🗪 [🔓] Change Role Name: OPS -> Core Admin"
### Request

the OPS role is also being used as a SCRF Vertical so it should be renamed.

@vincenzospaghetti @SirAh0 @ghettodev

[2022-06-22 04:39] SirAh0 commented on #14
The objective of the Start Here page is to provide new users an easy to navigate list of links throughout the SCRF landscape. We should avoid having too much information here, or a lot of text so as to not overwhelm the user with information. Chat (Discord) can be intimidating to find information or understand where to go especially for users not familiar with Discord. The Start Here channel is ou

[2022-06-22 04:40] SirAh0 commented on #20
The objective of the Start Here page is to provide new users an easy to navigate list of links throughout the SCRF landscape. We should avoid having too much information here, or a lot of text so as to not overwhelm the user with information. Chat (Discord) can be intimidating to find information or understand where to go especially for users not familiar with Discord. The Start Here channel is ou

[2022-06-22 16:09] SirAh0 opened #57 "Review May 2022 Guild Reports"
### May 2022 Guild Reports

Review / edit: [SCRF SourceCred Guild Report](https://docs.google.com/document/d/1JHnPPpmqEwcAAgrm8a1KmX1D1KlbwOJGn7yZ0XFacYo/edit)
- [ ] @ghettodev
- [ ] @zubepaul

Review / edit:  [SCRF Chat Guild Report](https://docs.google.com/document/d/1mpYPI-cP-7uGzgIe8BaaTHbxAQFjI6CKMPy5T9XRFcw/edit#heading=h.74yte3r50kmh)
- [ ] @ghettodev
- [ ] @zubepaul

[2022-06-22 21:21] liberty7369 opened #58 "🗪 [📅] Calendar"
### Describe Problem

Move Onboarding Bootcamp to Tuesday, July 5th

[2022-06-23 05:25] SirAh0 commented on #58
done

[2022-06-23 05:25] #58 closed

[2022-06-23 14:48] SirAh0 commented on #20
@zubepaul

[2022-06-23 20:39] ghettodev commented on #36
made the changes, let me know if there are any issues.

[2022-06-23 21:10] SirAh0 commented on #24
confirmed

[2022-06-23 21:11] SirAh0 commented on #36
thank you

[2022-06-23 21:11] #36 closed

[2022-06-23 21:33] liberty7369 opened #59 "🗪 [🚧] Change Request"
### ⛽Fueled Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] Schedule a follow up meeting with @SirAh0 to explain why this change was a success one month out
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

Tamar c

[2022-06-23 22:58] SirAh0 commented on #59
You should have the required role to view the channel, here is the link and image let me know if you need more help!

https://discord.com/channels/784234332617048065/962843215931797584

![image](https://user-images.githubusercontent.com/12703396/175428612-f877daaa-d643-4afe-bcb5-a150c3057f9a.png)

[2022-06-23 23:58] liberty7369 commented on #59
<img width="234" alt="Screen Shot 2022-06-23 at 6 58 03 PM" src="https://user-images.githubusercontent.com/103522749/175434228-2e065314-a360-4bae-9734-b10832e150fa.png">

I don't see what you're seeing...

[2022-06-24 00:01] SirAh0 commented on #59
confirmed fixed.

[2022-06-24 00:01] #59 closed

[2022-06-28 18:09] liberty7369 opened #60 "Presentation for Onboarding Bootcamp"

[2022-06-28 18:10] liberty7369 commented on #60
https://github.com/smartcontractresearchforum/research_team/issues/218

[2022-06-28 18:11] liberty7369 opened #61 "Pre-onboarding checklist - message"

[2022-06-28 18:11] liberty7369 commented on #61
https://github.com/smartcontractresearchforum/research_team/issues/218

[2022-06-28 18:11] liberty7369 commented on #61
https://github.com/smartcontractresearchforum/research_team/issues/218

[2022-06-28 18:29] liberty7369 commented on #61
Document with message: https://docs.google.com/document/d/1pFCo_mlzC9-318DKCOk4IuLPzwetdeOevWRQBHqd0QQ/edit?usp=sharing

[2022-06-28 18:33] liberty7369 opened #62 "Form and/or tracking system for new hires: create and be assigned tickets - adding member to github, give member email address, share drive access, discord channel access, etc."

[2022-06-28 18:33] liberty7369 commented on #62
https://github.com/smartcontractresearchforum/research_team/issues/218

[2022-06-28 18:34] liberty7369 commented on #62
This is part of a spreadsheet Valerie and I were working on last week. Need to link up with Lorretta and/or Tania so we can track the process and make sure tasks don't fall in between handoffs.

[2022-06-28 18:35] liberty7369 opened #63 "Excel sheet for tracking legal names"

[2022-06-28 18:36] liberty7369 opened #64 "Checklist/onboarding meeting agenda for verticals"

[2022-06-28 18:37] liberty7369 commented on #64
This suggested checklist is a proposal to team leads and heads to help streamline their onboarding process within their verticals

[2022-06-28 18:37] liberty7369 opened #65 "GitHub tutorial onboarding session"

[2022-06-28 18:38] liberty7369 commented on #65
https://github.com/smartcontractresearchforum/research_team/issues/218

[2022-06-28 18:38] liberty7369 commented on #65
This is to work with Brian and/or Woodrow to host a monthly GitHub tutorial session for those who are unfamiliar with the platform.

[2022-06-28 18:47] SirAh0 commented on #65
love it - lets have a meet and we can talk about some ideas.

Here is some related info:
https://github.com/smartcontractresearchforum/IT/issues/18
https://github.com/smartcontractresearchforum/IT/issues/19

[2022-06-28 18:50] SirAh0 commented on #62
For reference, on the IT side here is where requests can be made.

https://github.com/smartcontractresearchforum/IT/issues/new/choose

[2022-06-28 18:52] liberty7369 commented on #65
Perfect! Who would should be invited?

[2022-06-28 20:03] zubepaul commented on #15
I think there is a lot of utility being able to have these onboarding type conversations in the introduction channel. That said, I have two concerns:
1. Is there a plan for staffing/responsibility to connect with people?
2. Is there a plan to use these to get people out of the introduction channel and into the community chat in an engaged way?

[2022-06-29 14:56] SirAh0 commented on #62
this one! 🚀

[2022-06-29 18:42] #17 closed

[2022-06-29 18:42] #16 closed

[2022-06-29 21:03] vincenzospaghetti opened #99 "Onboarding Phase 2: Onboarding Research Project"

[2022-06-30 17:43] SirAh0 commented on #14
scheduled to go live today!

[2022-06-30 22:32] vincenzospaghetti opened #66 "Template for Onboarding Bounties"

[2022-06-30 22:32] vincenzospaghetti opened #67 "Welcome Packet for Full Time Contractors"
This project is about creating a Welcome Packet for full-time employees who join SCRF. This is an additional onboarding asset to what we already have and would include the following:
- PDF Packet itself (no more than 30 pages about working with SCRF)
- Swag (t-shirt, stickers, etc.)
- Discord Nitro
- Anything else SCRF wants to give full-time employees as they start with us

[2022-06-30 22:32] vincenzospaghetti opened #68 "Organize Onboarding Videos - Identify Gaps & New Videos Needed"

[2022-06-30 22:32] vincenzospaghetti opened #69 "Slide Deck for Onboarding Bootcam"

[2022-06-30 22:32] vincenzospaghetti opened #70 "Create User Journeys for Onboarding"

[2022-06-30 22:32] vincenzospaghetti opened #71 "Capture User Interests for Community Engagement"

[2022-06-30 22:32] vincenzospaghetti opened #72 "Organize Document Library for Onboarding"
This is a project to organize all of the documents (public and private) in an Onboarding/Engagement or overall SCRF folder. The community needs easy access to documents as they acquire the need for them and internal to have a centralized location for documents. The problem today is that everything exists in individual contributors' heads and is shared as needed through links. This is often confusi

[2022-06-30 22:32] vincenzospaghetti opened #73 "Email Templates for Onboarding"

[2022-06-30 22:33] vincenzospaghetti opened #74 "Onboarding Broad Research Project Support"

[2022-06-30 22:33] vincenzospaghetti opened #75 "PM Institutional Knowledge Documentation"

[2022-06-30 22:33] vincenzospaghetti opened #76 "Fill in document tracking for all hires and current contractors"

[2022-06-30 22:33] vincenzospaghetti opened #77 "Onboarding Overview Document"

[2022-06-30 22:38] SirAh0 commented on #14
https://discord.com/channels/784234332617048065/992196359157461093

[2022-06-30 22:38] #14 closed

[2022-06-30 22:43] SirAh0 commented on #15
Live

Public threads can be created by anyone with the `Core `role.

[2022-06-30 22:43] #15 closed

[2022-06-30 22:49] #35 closed

[2022-06-30 22:52] vincenzospaghetti commented on #15
Brian - I want to make an announcement about this. What points do I need to
add?

On Thu, Jun 30, 2022 at 4:43 PM Brian Alexakis ***@***.***>
wrote:

[2022-06-30 23:16] SirAh0 commented on #20
Meeting was held between Discovery Head and Engagement Head approval to use current state of the start here on test server for live.

Next launch window will include further refinements and design / branding pass.

[2022-06-30 23:35] SirAh0 commented on #20
live

[2022-06-30 23:35] #20 closed

[2022-06-30 23:40] SirAh0 commented on #15
Let's schedule a meeting for the onboarding folks that will be using this tool. I'm free anytime tomorrow.

[2022-07-01 19:58] SirAh0 opened #78 "Chat Guild Notes - July 2022"

[2022-07-01 20:25] SirAh0 commented on #78
less channels is better
it can be hard to narrow down
use the live open office hours

Redudant

- recordings
- socials

[2022-07-01 20:40] ATParente commented on #78
A lot of our discussion today surrounded keeping a single channel as a source of truth for each vertical.
Also of importance was the idea of collapsing alike Discord channels to streamline the experience for new users.

Unify conversational groups
Unify tools
Direct every vertical to a single source of truth

EG:
- We should not necessarily create a discord calendar, but rather have a bot that lin

[2022-07-05 15:45] liberty7369 commented on #60
https://docs.google.com/presentation/d/1yl-FjN6eRhjp77YjItdS7QU67kpEZIWkDj8USBCm70E/edit?usp=sharing

[2022-07-05 15:45] #60 closed

[2022-07-05 16:18] #73 closed

[2022-07-05 16:19] #69 closed

[2022-07-05 19:21] SirAh0 opened #79 "Meeting Notes - 7/5"

[2022-07-05 19:22] SirAh0 commented on #79
- [ ] setup issue template for onboarding Quest

[2022-07-05 19:41] SirAh0 commented on #79
This is the thread Valerie was talking about:
https://www.smartcontractresearch.org/t/onboarding-to-scrf-call-for-research/1694

[2022-07-05 20:09] zubepaul commented on #79
Discussion on clarification of mission, vision, and medium level strategy to help facilitate onboarding. Without clarity here, it is difficult to onboard people into the culture and vision of SCRF. "Advancing Web 3" discussed as being overly vague. Something to coordinate with @marvino3 on as an onboarding team.

[2022-07-05 20:11] zubepaul commented on #69
Where does this Slidedeck now live? Is it available outside of the monthly meeting?

[2022-07-06 15:11] vincenzospaghetti commented on #76
@LorrettaGS and @liberty7369 can we partner to fill in this document with current contractors and in-the-pipeline folks?

We need a full directory of people.

I am looking to use this document to do so:
https://docs.google.com/spreadsheets/d/1GoLgXPF3SFpkUTUQDbkdcoGJ2rX13XNyGrsWVFrY4nY/edit#gid=0

[2022-07-06 15:23] vincenzospaghetti commented on #75
https://docs.google.com/spreadsheets/d/1ozZTr--CoqdrrB3HLrnpr5K1nX6X07iIhHwln_ptfr8/edit#gid=0

Assigned to: Gabi (username unknown)

Help from: @liberty7369 and @vincenzospaghetti

**Purpose:**
We are documenting institutional knowledge at SCRF to better be able to onboard, train, and collaborate with folks coming into SCRF. This process will also be vitally important to capturing knowledge as in

[2022-07-06 15:28] liberty7369 commented on #76
Yes. I am meeting with Lorretta today.

On Wed, Jul 6, 2022 at 10:12 AM vincenzospaghetti ***@***.***>
wrote:

[2022-07-06 15:34] vincenzospaghetti commented on #62
we have made this: https://docs.google.com/spreadsheets/d/1GoLgXPF3SFpkUTUQDbkdcoGJ2rX13XNyGrsWVFrY4nY/edit#gid=0

If this looks good, we can mark as done. Please let me know if you have feedback:
@ghettodev @eleventh19 @zubepaul @SirAh0 @ttaloute @LorrettaGS @liberty7369

[2022-07-07 14:22] SirAh0 opened #80 "Committee recommends no changes, but raise return pool concern with forum stakeholders."

[2022-07-07 14:48] SirAh0 opened #81 "Informational Checklist"
From the top level down, we are missing chances to put information in front of our end users.

1. Org Readme
2. Repo Readme
3. Define 3 Informational Issues
4. Repo Sticky Issue (Issue Tab)
5. Discussions enabled and basic setup
6. Project Board About Tab with informational issues
7. Issue Templates

### Related Issues

🗪 [🚧] >Welcome #🏁start-here Branding #20
https://github.com/smartcontractresea

[2022-07-07 15:04] Fizzymidas commented on #39
Analysing data insights of pilot (May) vs June.
Especially with respect to things like number of SCRF employees and community members participating.

Number of active members and those who did not opt-in.

And any other things we could learn from the data.

[2022-07-07 17:33] zubepaul commented on #69
Cool, that works well for me. I just wanted to make sure that it was linkable.

[2022-07-08 16:03] zubepaul opened #82 "Comment Task: Research Summary: SoK: Blockchain Governance"
The thread [Research Summary: SOK: Blockchain Governance](LINK WHEN PUBLISHED) should have contributions that explore the following themes and questions

- [ ] The value of governance standards versus community needs
- [ ] Connection between the needs of governance and issues such as [Soulbound Tokens](https://www.smartcontractresearch.org/t/discussion-post-are-soulbound-tokens-the-best-way-to-cre

[2022-07-08 16:04] zubepaul opened #83 "Conducting an experiment for Engagement connecting boards"
Conducting an experiment for Engagement
- [x] Engagement Board Task Created

Edit: It did not work as intended

_Originally posted by @zubepaul in https://github.com/smartcontractresearchforum/research_content/issues/265#issuecomment-1179101942_

[2022-07-08 16:06] zubepaul commented on #83
Experiment did work!

[2022-07-08 16:06] #83 closed

[2022-07-11 18:39] zubepaul opened #84 "GTM Spreadsheet Migration"
Migrate vital information from the GTM spreadsheet to the GTM Project board. This will also include moving files from the GTM folder to the new Engagement GTM folder.
###Items to accomplish
- [x] Confirm access to the [GTM Spreadsheet](https://docs.google.com/spreadsheets/d/1OAhoXcCd2kuwxvU4TibUTB-klTKtd92vcKtGTL_8Lvk/edit#gid=0), the [Go To Market Tracking](https://github.com/orgs/smartcontractre

[2022-07-11 19:29] Wood-Jack commented on #72
Yea sounds good and where would you want this document organization structure placed in?

[2022-07-11 19:36] vincenzospaghetti commented on #72
This would be for organizing the shared SCRF Google Drive.

May also apply to GitHub but Maria and Victoria are already working on
public facing documents.

Valerie Spina

On Mon, Jul 11, 2022, 1:30 PM Woodrow Jackson ***@***.***>
wrote:

[2022-07-11 19:54] Wood-Jack commented on #72
Ok sounds good and just need the link and I can take a look at it

[2022-07-11 20:09] Wood-Jack commented on #72
Ok I see the file structure in the article

[2022-07-12 12:31] zubepaul commented on #72
@vincenzospaghetti I am not certain that an overhaul of the structure is necessary so much as a sorting of role permissions and communicating the structure in place. This does seem like something that @SirAh0 and @Wood-Jack could collaborate on.

[2022-07-12 14:16] zubepaul opened #85 "SourceCred Meeting Minutes July 8"
## Action Items
- [ ] @RuthTolulope to help with promotion to increase opt-in and coordinating with Discovery
- [ ] Also increase word of mouth in the chat
- [ ] Inform people who seem new on the forum about SourceCred and the opt-in process
- [ ] Create all cred leaderboard with indicator for those that opt-in
- [ ] Create promotional month for August with a different type of implementation. Perh

[2022-07-12 14:27] zubepaul opened #86 "Improving the Comment of the Month project"
Improvement plan on the Comment of the month. This improvement plan will improve on the current Comment of Month plan. Which will be the foundation of the Comment of the Month.

- [ ] Creating a template in which introduces new processes and improvements on the comment of the month.
- [ ] Create a methodology of the comment of the month
- [ ] Introduce the reason and importance of the Comment of t

[2022-07-12 14:28] zubepaul commented on #86
@Wood-Jack Please link to your project improvement document.

[2022-07-12 14:35] zubepaul opened #87 "Engagement Meeting July 18"
## Agenda
- [x] Discussion of GitHub adoption
- [x] Project Updates
## Action Items
## Notes/Discussion

[2022-07-12 14:36] vincenzospaghetti commented on #72
I do think we need an overhaul. I'm not sure the current drive organization
is user-focused or intuitive. Access needs organization for sure, but for
example, with Onboarding, most of those documents and presentations should
be public (lowest access level) along with anything that explains the
functions, operations, or organization of SCRF. Right now the default SCRF
Drive is 3 folders with nothin

[2022-07-12 19:44] zubepaul opened #88 "Onboarding Meeting July 12"
## Action Items
- [x] #89
- [x] Valerie will talk to Victoria to figure out how the spreadsheet
- [x] Create gamification flow of onboarding. What can should be gamified is needed
- [ ] Create milestone issues
## Notes
Big Milestones coming up
- User Journeys: Document all the users we have and how does one move through a career arch at SCRF
- Creation and editing of documentation and institutiona

[2022-07-12 19:46] zubepaul opened #89 "Create 1 pager project plans for milestones"
This issue was created from a meeting action list as a demonstration. It will be replaced by the actual issues for 1 page project plans for a variety of onboarding tasks.

[2022-07-12 19:58] #89 closed

[2022-07-13 17:10] ttaloute opened #90 "Hiring/HR/People"
This may be transferred in the near future, but this is an area to track work and comments. If you are tagged, please do not mention Personal/sensitive info on this issue.

Hiring:
Organization and Documentation (stored in Hiring Folder on Drive)
- [ ] Organize the Hiring folder on Drive
- [ ] Create/updated job descriptions for existing contractors
- [ ] Interview Guide for Grants
- [ ] Interview

[2022-07-13 17:56] zubepaul opened #91 "Moderation Meeting July 13"
## Agenda
- Creating Engagement Tickets
- Documenting vs Working time: Above and also GTM
- Creating a [Moderation Playbook](https://github.com/smartcontractresearchforum/discovery/issues/130)
## Action Items
## Notes

[2022-07-13 18:06] zubepaul opened #92 "Organize the Hiring folder on Drive"
The purpose of this ticket is to organize the hiring folder on the Engagement team drive.

[2022-07-14 15:39] liberty7369 opened #100 "Engagement Surveys"

[2022-07-14 15:40] liberty7369 opened #101 "Community Onboarding Presentation"

[2022-07-14 15:40] liberty7369 opened #102 "Community Onboarding Checklist"

[2022-07-14 15:41] liberty7369 opened #103 "Gamification of Onboarding Session"

[2022-07-15 16:06] SirAh0 opened #111 "🗪 [🚧] Stat Bot"
### ⛽Fueled Task List

- [x] Schedule a meet with @SirAh0 to implement the change on test server
- [x] Pick a launch window for this change to go live
- [x] Ensure your change is launch ready before the launch window
- [x] Schedule a follow up meeting with @SirAh0 to explain why this change was a success one month out
- [x] Document pipeline approval, if applicable @marvino3

### Benefits

statbot

[2022-07-15 17:59] zubepaul commented on #91
Adjust an make these Weekly updates

[2022-07-18 13:46] ttaloute opened #112 "Interview Guide for Open Positions"

[2022-07-18 13:46] ttaloute opened #113 "Interview Guide for Grants"

[2022-07-18 15:49] zubepaul opened #114 "Create Comment of the Month documentation"

[2022-07-18 16:38] ttaloute opened #115 "Offboarding Guide (7/15)"

[2022-07-18 17:07] ttaloute commented on #115
The purpose of the Offboarding Guide is to manage the transition of a part-time/full-time employee to a community member. This entails the transfer of knowledge and responsibilities, limiting access and privileges to a system, and obtaining feedback on their experience with the organization.

I put together a draft of what a document guide can look like here. Please add comments, questions and sug

[2022-07-18 17:58] zubepaul commented on #87
Action items.
- Get a PM for onboarding phase 2
- A guide for how to join the community and do some community UX and path forward. Create this as a new idea.
- Offboarding is being worked on at the moment.
- Community survey resources are being worked on
- Welcome people and get them involve. We should make a strategy here
- Grant for comments for those going into the content pipeline

[2022-07-19 13:25] zubepaul opened #116 "SourceCred August Meeting"
## Agenda
- [x] Create agenda
- [ ] SourceCred as on forum compensation
- [x] New user promotion models/ideas
- [x] Community Treasury
- [x] Creating models/experimenting with models
- [ ] Tipping with SC
- [x] Guild report and rollups
- [x] Opt-in and advertising

[2022-07-19 13:58] zubepaul commented on #116
I would like to discuss replacing hourly commenting with SourceCred powered compensation across the SCRF organization.

[2022-07-19 18:26] zubepaul opened #117 "Onboarding Meeting"
## Agenda
- Project updates and resource needs
- Current successes
- Transitioning to community onboarding
- Automation versus human solutions
## Action Items
- [x] #118

[2022-07-19 18:40] liberty7369 commented on #61
https://docs.google.com/document/d/18zsKOFF8b6RXnz6MYyUFW6rjkgbbx5IMsyJe5xuchsk/edit# @zubepaul

[2022-07-20 14:25] zubepaul commented on #117
Notes
A general update on the gamification and getting people into the right teams on GH
Addressed some IT needs
Invited work@ to the PPP meeting
Discussion of Directory and CRM. Not something we want for the community or maybe even contributor. CRM could be good for part time + hires
Discussed an onboarding element with contracts. Will want to explore other precedents
There was some discussion of

[2022-07-20 14:26] zubepaul opened #118 "Onboarding/Community welcoming strategy development"

[2022-07-20 17:49] zubepaul opened #119 "Moderation Meeting"
## Agenda
- [GTM Improvement](https://github.com/smartcontractresearchforum/core-projects/issues/33)
- Current areas of need
- Summaries and connections
### Action Items
- [ ] Header link curation
### Notes
Addressed a few GTM issues on the con
Discussion of "header notes" section on the forum
- Would be a heavy maintenance task. As time passes, the notes would need to be updated and not just beco

[2022-07-20 17:55] zubepaul commented on #116
I would also like to propose we discuss the ideas from last meeting where new commentors/users can gain sooner and that whales have a more difficult time maintaining/earning

[2022-07-20 18:58] zubepaul opened #120 "Header link curation"

[2022-07-21 14:38] zubepaul commented on #116
@SirAh0
In preparation for the August meeting please try to create the following models
- No Discourse trust level
- Split-pay weekly/all time model
- Hyper promote new content versus edges weights

[2022-07-21 15:25] zubepaul opened #121 "Project: This Week in SCRF"
### Description
A weekly chat announcement of cultivated happenings/wins/projects/and areas of interest for the SCRF community.
### Project Plan
- [ ] Create light [project proposal](https://docs.google.com/document/d/1mWVdz53TK5bAGnyvk9xS7V0nkGP7eOxNLaL8e2GOplQ/edit#heading=h.9xvwuxmfaxqg)
- [ ] Create format/style
- [ ] Implementation
- [ ] Evaluate trial

[2022-07-21 16:55] zubepaul opened #122 "Project: Author Engagement Program"
### Description
Create a program that keeps those interested in SCRF engagement who are coming from academia
Ideas that have been discussed before are residency or expert zone areas.

[2022-07-21 17:37] zubepaul commented on #121
@marvino3 Could you link to any issues that you have that might be associated with this idea?

[2022-07-21 17:47] zubepaul commented on #121
Problems to solve:
- Where do we submit updates and ideas?
- Who is responsible for following up and enforcing?
- Are SCRF recognitions a separate project that gets tapped by this?

How do we source this?
-Verticals need to give updates that go into this in a regular cadence

Next Steps
- Project proposal
- Meeting with Discovery
- @vincenzospaghetti

[2022-07-21 17:49] liberty7369 commented on #101
https://docs.google.com/presentation/d/12JuLCMNb6ZLnt5nTsF4UejA47brh4QO-3LdSs3T6DX4/edit#slide=id.g12ee055a3c6_2_75 @vincenzospaghetti  - please review

[2022-07-21 17:49] liberty7369 commented on #102
This can also be found here: https://github.com/smartcontractresearchforum/engagement/issues/61

Issue 61

[2022-07-21 17:54] vincenzospaghetti opened #123 "Community Onboarding"
## Description
This will serve as the initial strategy and process of helping people join and become onboarded into the SCRF community.
## Steps
- [ ] Identify related issues and pull them together
- [ ] Project proposal
- [ ] User personas
- [ ] User journeys
- [ ] Mission/Vision/Strategy workshops with core team
- [ ] Community comms strategy

## Sign Offs
- [ ] Community engagement?
- [ ] Sign

[2022-07-21 17:59] vincenzospaghetti commented on #123
What does a SCRF citizen look like

[2022-07-21 18:10] vincenzospaghetti commented on #101
Looks great!

The only suggestion I would add is maybe more of a focus on these things:

- *Behaviors:* Do X, Y, Z at SCRF. Like, citizenship, collaboration,
coaching, curiosity, problem solving, respect, teamwork, leadership --
communicating often, asking questions, share knowledge, find places to
build, make connections, help others engage in dialogue and learn about
web3, propose research...Thi

[2022-07-21 22:55] liberty7369 commented on #101
Strong feedback! I’ll implement the suggestions and let you know when it’s
ready for eyes again.

On Thu, Jul 21, 2022 at 1:10 PM vincenzospaghetti ***@***.***>
wrote:

[2022-07-22 17:30] liberty7369 commented on #101
@vincenzospaghetti I changed slides 8 & 9 to contain actionable items. Let me know your thoughts. If approved, let's move it to Paul & Woodrow for their eyes. Also, who would host this event? Happy to do it too

[2022-07-22 18:54] zubepaul commented on #119
Notes from July 22 meeting
- [Summary of focus](https://www.smartcontractresearch.org/t/research-summary-penny-wise-and-pound-foolish-quantifying-the-risk-of-unlimited-approval-of-erc20-tokens-on-ethereum/1795) Focus on the human ability to work around things
- [Summary of focus](https://www.smartcontractresearch.org/t/research-summary-decentralized-governance-of-stablecoins-with-closed-form-valua

[2022-07-23 06:25] ttaloute commented on #90
7/13/2022 meeting:
level setting
reviewed tasks on Github (building out each area to be a plan
prioritizing tasks and create roadmap
Started CRM search

7/20/2022 meeting:
reviewed roadmap draft : https://docs.google.com/presentation/d/1IODk1EJpEB6C7VeONvGxFrPFjMyl-9mwRj5MrYQeeAc/edit#slide=id.g13eadb7824d_0_10
Need to create a V1 of training document (high level)
Shared CRM research thus far - wo

[2022-07-26 14:20] zubepaul commented on #120
This will need a project proposal and plan.

[2022-07-26 17:13] eleventh19 commented on #121
here are some of the relevant cards in discovery: https://github.com/smartcontractresearchforum/discovery/issues?q=is%3Aissue+is%3Aopen+newsletter

[2022-07-26 19:06] ttaloute opened #124 "CRM/database research (7/26)"

[2022-07-26 19:06] ttaloute opened #125 "People Tracking (7/29)"

[2022-07-26 19:06] ttaloute opened #126 "Contract Folder Audit (8/5)"

[2022-07-26 19:06] ttaloute opened #127 "Documentation and standardization for invoicing"

[2022-07-26 19:10] zubepaul commented on #103
Approximately deadline of August 1 for project proposal

[2022-07-26 19:11] ttaloute commented on #124
Proposal/description:

Research is captured here: https://docs.google.com/spreadsheets/d/1TTPFS1SNTDbjGK6XKK2F6afQm2dModKxUIYYGkTI8XY/edit#gid=505142905

[2022-07-26 19:14] zubepaul commented on #124
This needs a budget. Need to connect with @eleventh19 @ghettodev if no announcement by end of the first week of August 2022

[2022-07-26 19:37] ttaloute commented on #63
Will create and fill this out based on a list I compiled in early June of current contractors.

[2022-07-26 19:40] zubepaul commented on #123
This is now covering the proposal in https://github.com/smartcontractresearchforum/engagement/issues/118

[2022-07-26 19:41] zubepaul commented on #118
Closing because being covered by #123

[2022-07-26 19:41] #118 closed

[2022-07-26 19:42] zubepaul commented on #77
If these are associated with issues in another board, please link to these

[2022-07-26 19:43] zubepaul commented on #101
@Wood-Jack Could you please take a look?

[2022-07-26 19:44] zubepaul commented on #102
@zubepaul Please review

[2022-07-26 19:46] zubepaul commented on #76
This task is done. The current document might need future revision, but the initial task is completed.

[2022-07-26 19:46] #76 closed

[2022-07-26 19:47] Wood-Jack commented on #101
Yes I can @zubepaul

[2022-07-26 19:50] zubepaul commented on #70
Documentation to be added.

[2022-07-26 19:51] zubepaul commented on #67
@Wood-Jack Use this issue to pull all the documents together.

[2022-07-26 19:55] Wood-Jack commented on #67
Ok will do @zubepaul

[2022-07-27 01:26] Wood-Jack commented on #101
Hey I looked over the slides @liberty7369. It looks good its clean,concise , and describes SCRF in an easy way.

[2022-07-27 12:56] Wood-Jack commented on #72
Here is my plan so far for organizing the documents in SCRF Drive. https://docs.google.com/document/d/1WJfn6fLG1-DboAmoRce2DDAI0DhgudG-Exd5-8WfB8M/edit?usp=sharing . Would you please look over @zubepaul and @vincenzospaghetti  I would like to hear your thoughts on the draft.

[2022-07-27 14:58] zubepaul opened #128 "Engagement Grant"
### Description
This engagement grant is to advance the discussion on 4 of the following threads.
MatMat is the recipient of this grant
### To Complete
- Pick 4 of the following threads to comment on
- Provide meaningful discussion on that thread. This means providing some unique analysis of the issue/research, justifies and proposes next steps in the research or application, connects the research

[2022-07-27 17:02] #119 closed

[2022-07-27 17:36] zubepaul opened #129 "Engagement Meeting"
## Agenda
- [ ] Create with group

[2022-07-27 17:41] zubepaul opened #130 "Moderation Meeting"

[2022-07-27 18:29] zubepaul commented on #82
The above issue is an example of a potential internal comment prompting. As a moderation team, this was an idea that ultimately was determined to not be worth exploring at the moment as it is time intensive. It also would have required people to do too much clicking. Instead, this might become something that happens on the forum and then we link to it and then this can become a call to action in t

[2022-07-27 18:52] zubepaul commented on #130
### Notes
- Definitely running into some capacity issues
- Talked about GTM process and the absolute need to modify it.
- Approved Board as place for engagement grant.
- Potentially Peter can help with GTM process. Yesh also can potentially help

[2022-07-27 19:36] marvino3 opened #131 "Overall Design Requests"
Description: Visual Design to make it more brand-aligned

- [x] General Thematic Color Scheme
- [x] Colors and branding per category
- [x] Updated logos
- [ ] Have different ways to brand tags (colors and similarity)
- [ ] Designed Profiles
- [ ] Update banner (Banner space or ad space at the top for the Header or side banner)
- [ ] Forum headers
- [ ] Above the fold imagery and start here (consid

[2022-07-27 20:53] zubepaul opened #132 "Start Here Forum Post"

[2022-07-27 21:43] zubepaul commented on #86
Reviewed and needs additional edits. @Wood-Jack Needs to be a proposal that can go to Ops for approval.

[2022-07-28 15:24] zubepaul commented on #101
@liberty7369 I like the move to actionable throughout the presentation. I think there is still some more room to discuss culture and an arc of activity within SCRF that we could add. Let's make this a discussion point in our next meeting.

[2022-07-28 15:25] zubepaul commented on #63
Any additional steps needed here?

[2022-07-28 16:14] zubepaul commented on #116
Let's also discuss "tipping" via SourceCred on the forum. It was mentioned during a community call

[2022-07-28 16:28] vincenzospaghetti commented on #72
Great start! Added some comments in the doc. Generally I would like to see
it built out more.

On Wed, Jul 27, 2022 at 6:56 AM Woodrow Jackson ***@***.***>
wrote:

[2022-07-28 20:34] Ulyssesmathew commented on #128
I have picked four threads as requested:

1. Research Summary: Decentralized Governance of Stablecoins with Closed Form Valuation[](https://www.smartcontractresearch.org/t/research-summary-decentralized-governance-of-stablecoins-with-closed-form-valuation/1789)

2. Research Summary: Studying Bitcoin privacy attacks and their Impact on Bitcoin-based Identity Methods

3. Research Summary: Privacy Pr

[2022-07-29 18:52] zubepaul commented on #130
How can we get people more engaged by helping people create and make value
- Meaningful interaction from the author
- There is some abstraction here that allows people to think through things instead granular factual claims don't always
- Help people find that abstract or bigger value
- Summarize conversation or highlight big impactful contributions and help people see the value nuggets
How to pro

[2022-07-29 19:05] zubepaul commented on #130
There was a forum thread some time ago in `Meta` that proposed and [enabled highlighting](https://www.smartcontractresearch.org/t/proposal-to-add-a-highlight-feature-on-the-forum/1231). I haven't read this in a long time, but I wanted to attach it to these notes and let you know @ttaloute

[2022-07-31 04:58] Ulyssesmathew commented on #128
Link to the draft: https://docs.google.com/document/d/1baTJc5C92GpkNBQjO926CWRBpA5BwHFN3H8TNTV6v-k/edit?usp=drivesdk

[2022-08-01 17:50] zubepaul commented on #129
Notes
Current documentation
- Tracking spreadsheet and other internal process documents: internal is rejection/offboarding type of stuff. Job offer email
- HR overview is a future rollout
- How to get compensated connecting to HR stuff
- Mandate for Engagement
- Moderation process
- How to comment/what is a good comment
- Welcome to the forum documentation
- Performance review guide
- Scoping out

[2022-08-01 17:55] zubepaul commented on #128
@Ulyssesmathew Are you looking to collaborate/get feedback before posting, is that why the draft is linked here?

[2022-08-01 17:58] Ulyssesmathew commented on #128
@zubepaul yes, I felt you might want to take a look before I send out. But if that's not necessary,  we can skip it.

[2022-08-01 18:39] zubepaul commented on #67
Next step is to make checklist
Also refer to the meeting notes from the [Engagement Vertical meeting on August 1](https://github.com/smartcontractresearchforum/engagement/issues/129)

[2022-08-01 19:25] zubepaul commented on #128
@Ulyssesmathew I would be happy to take a look over things if you would like. It is not required, but I am happy to work with you on them.

[2022-08-01 19:26] zubepaul commented on #100
What is the current status of this project?

[2022-08-01 19:26] Ulyssesmathew commented on #128
@zubepaul noted. I will notify you once it's ready for you to have a look.

[2022-08-01 20:23] RuthTolulope commented on #100
I completed a first draft of the surveys and shared it with @Fizzymidas and other team members on 25-07-22.
Awaiting feedback from @Fizzymidas. Here are the links to the first draft for both content and community call respectively: https://docs.google.com/forms/d/e/1FAIpQLSfSPkVEdwh0iJUwgV6tWDAo1LrQ1dllGQDrjsLfBGlw5X0tJw/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSc-GTwDDhxLXGHo

[2022-08-02 16:16] ttaloute opened #133 "🗃️ - New Job Listing"
### Team

Content

### New Role Name

Content Copy Editor

### Role Proposal URL

https://docs.google.com/document/d/1-h_-1adIUsqYPdjiwFfUHRT-4DKUWFYPxJb6iRP3rrA/edit

[2022-08-02 18:13] zubepaul opened #134 "Onboarding Meeting"
## Agenda
- Onboarding Bootcamp debrief
- Onboarding GitHub error messages
- Onboarding project updates

[2022-08-02 18:30] zubepaul commented on #100
@RuthTolulope Is there a place you would like to have feedback for the survey's put?

[2022-08-02 18:58] SirAh0 opened #135 "🗪 [🚧] August Channel Audit"
### About
Evaluate the state of the Discord server to determine if each channel and category is serving a useful purpose.

**Goal**
Reduce the number of channels and simplify the server.

**Criteria**
- empty channel
- low activity
- non-relevant information

**Actions**
- Merge channels
- move into the 🪓 Chopping Block
- refresh content

This list will be discussed in the upcoming Guild Meet.

##

[2022-08-02 19:18] SirAh0 opened #136 "August Chat Guild Agenda - 2022"

[2022-08-02 19:33] zubepaul commented on #92
Needs an organizational plan for the folder and sharing permissions
- JDs
- Performance reviews
- General notes
- Open question if more confidential information is going to be captured.

This is likely going to be core +
@Wood-Jack will help to create the folder structure.

[2022-08-02 19:39] zubepaul commented on #123
[Personas and Journeys](https://docs.google.com/document/d/1lX2Kaj3i1oLGi9HU_nTqUQXVm1O8035xveA2NiU1lTY/edit?usp=sharing)

[2022-08-02 19:40] zubepaul commented on #123
Tag Nancy once she has org access to GH

[2022-08-02 19:51] zubepaul commented on #115
Also create a survey with:
- Docs working and links
- Feedback to type
- Future intentions
- Identify permissions (emails)

[2022-08-02 19:52] zubepaul commented on #66
Link to the #103 issue idea

[2022-08-02 20:00] Wood-Jack commented on #67
First Draft Due Date: Aug 9th,

[2022-08-02 20:01] zubepaul commented on #134
### Notes
Onboarding GH automation issue addressed an likely an easy fix for @SirAh0
Looking for feedback, push that chat agenda a little more.

Debrief on the onboarding bootcamp. 3 people joined. A community person, CM, and Woodrow. Got some feedback. Moving the Community Onboarding
Move to get more people (especially veterans) into the onboard call, the better.
Offboarding survey from @ttaloute

[2022-08-02 20:01] #134 closed

[2022-08-03 09:17] RuthTolulope commented on #100
@zubepaul I have created a section for feedback on the forms at the bottom of our working document
https://docs.google.com/document/d/1yXe4gddpnQi7LQBHwQ00DGO5lz75fSltaWop9v9z5hU/edit?usp=sharing
I thought it would be better to have everything in a place so everyone could easily follow along.

[2022-08-03 17:25] zubepaul opened #137 "Moderation Meeting"
## Agenda
- SCRF Updates
- Moderation tools
- GTM Process Improvement
### Action Items
- [ ] Creation of Bounties
- [ ] Creation of Community Category
### Notes

[2022-08-03 17:26] zubepaul commented on #119
Header curation is underway.

[2022-08-03 17:28] zubepaul opened #138 "Forum highlighting experiment"

[2022-08-03 19:04] zubepaul commented on #103
Bringing in @marvino3 to take this from gamification to more integrated quest

[2022-08-04 08:27] Yesh-2691 opened #139 "Reading Group"

[2022-08-04 15:36] isss111 commented on #139
**Upcoming Reading Group Sessions**
Date: August 11th at 9am EST for 60 minutes
Goal: Discuss Part 1 (Chapters 1 to 4) of Impact Networks in the context of SCRF and our mission

Date: August 24th at 11am EST for 60 minutes
Goal: Discuss Part 2 (Chapters 5 to 10) of Impact Networks in the context of SCRF and our mission

Registration for Calendar Invite: https://forms.gle/xhNkFAPXU9j2qSUp6
More Inf

[2022-08-04 15:43] ufkhan97 commented on #139
To Do:

- [ ] Make Topic suggesting reading group and vote on the following books:

  - [ ] The Infinite Machine https://www.goodreads.com/book/show/50175330-the-infinite-machine?ac=1&from_search=true&qid=CoecqxafMF&rank=1
  - [ ] The Cryptopians: Idealism, Greed, Lies, and the Making of the First Big Cryptocurrency Craze https://www.goodreads.com/book/show/57356067-the-cryptopians?ref=nav_sb_ss_1

[2022-08-04 15:48] isss111 commented on #139
**Reference materials**

- Reading group Guide to EA Groups https://forum.effectivealtruism.org/posts/rqmuTjmknnQE2oaPS/reading-group-guide-for-ea-groups
- The Precipice Reading Group Syllabus https://docs.google.com/document/d/1Z2DvC-oBOf7Md_gLv03Pacers0jymojXaFw-aBnzkGs/edit
- TE Fundamentals Study Groups https://docs.google.com/forms/d/e/1FAIpQLScOz34_1QAeBa4undZ5tEjDkPatzboYPf8F9fYU5kwPBg04Bg/

[2022-08-04 19:18] zubepaul commented on #120
[Draft Proposal](https://docs.google.com/document/d/1a99OBRssDJcd9g1tZ733uUbuVry-WT5fmYBiuWfrncA/edit#)

[2022-08-05 15:36] zubepaul opened #140 "Curated Forum Experience"
### Description
This epic tracks work to improve the forum experience for end users by improving information architecture, providing discussion summaries, visual design cues, and including manual curation of reading/information seeking experiences.
- Project Proposal
- Brainstorm Flowchart
### Steps
- [ ] Create project proposal
### Impacted projects
- [Forum Special Imagery](https://github.com/sm

[2022-08-05 15:37] zubepaul commented on #140
@jring-o This is where we will eventually link the flowchart

[2022-08-05 18:26] Yesh-2691 opened #233 "Yesh and Paul's Calls"
Calls between Yesh and Paul are tracked here. Will be moved to an appropriate repo when it exists.

[2022-08-05 19:01] zubepaul commented on #137
### Notes
- Discussed badges/sourcecred and the types of tools we have available to advertise and make posting to the forum a more enticing thing.
- Discussed highlights and other UX/experience considerations for on the forum. Connecting to the [header ticket](https://github.com/smartcontractresearchforum/engagement/issues/120)
- Discussed some iterations on the GTM process. Paul will make this as

[2022-08-05 20:26] SirAh0 commented on #135
#comment-of-the-month
https://discord.com/channels/784234332617048065/916428390750367754

@Wood-Jack  is heading up this effort. Lets figure out what to do with it.

[2022-08-05 21:02] SirAh0 commented on #135
📘directory last update 4/10/22

🏟scrf-events-chat feels redundant with new features that allow chat within Live channel. Reccomend archive.

📼recordings keep traffic pointing to YouTube - archive

🐦socials - chopping block - talk to discovery. Overly dividing traffic into too many places. Put socials into community channel. Social rollups speak with Outreach to extend their rollups. @ralphlombregl

[2022-08-06 02:20] Wood-Jack commented on #92
Hi @ttaloute I have a doc I'm working on currently and I added the hiring folder inside so let me know what you think about the organization of the folder. Here is the link: https://docs.google.com/document/d/1WJfn6fLG1-DboAmoRce2DDAI0DhgudG-Exd5-8WfB8M/edit?usp=sharing

[2022-08-06 06:49] ufkhan97 commented on #139
Forum post is up here: https://www.smartcontractresearch.org/t/reading-group-series-vote-inside-for-next-book/1851

[2022-08-07 21:35] SirAh0 commented on #136
We Recorded! The conversation was captured in the audit issue #135

[2022-08-09 10:34] jring-o commented on #140
A simple start to a user flowchart. Boxes in red need infrastructure built.

![SCRF User Flowchart](https://user-images.githubusercontent.com/29245250/183627731-386a3a8e-5d98-4f17-8978-2d660126256e.png)

[2022-08-09 12:33] zubepaul opened #141 "Community Category Creation and Launch"
### Description
This issue tracks the creation of the newly voted for Community Category on the forum, the documentation for new content types, and the announcement and rollout plan.

### Steps
- [x] Write about section
- [x] SCRF recommends documentation
- [x] Community call documentation
- [x] Create Category
- [x] Launch day plan

[2022-08-09 12:38] zubepaul commented on #71
Does this have associated documentation somewhere?

[2022-08-09 15:07] zubepaul opened #142 "Idea - have content specialists take on GtM questions"

[2022-08-09 15:42] zubepaul commented on #141
Next step is to schedule a meeting to organize and get rolling on tasks.

[2022-08-09 15:44] 0xAngle commented on #141
I replied in discord with meeting times, could you confirm those are fine
with you?

Thanks,
Angel

On Tue, Aug 9, 2022 at 10:42 AM zubepaul ***@***.***> wrote:

[2022-08-09 16:34] vincenzospaghetti commented on #70
MURAL for user journey - https://app.mural.co/invitation/mural/ethdenver20220313/1652798310750?sender=uf66c5b79d31c457b2b2c7022&key=a2fa2520-20ca-4b91-a936-93dac85e369c

Document in progress. Use as you see fit.

[2022-08-09 16:36] vincenzospaghetti commented on #70
Existing document for Personas - https://docs.google.com/document/d/1jreLQIXJOHkNNe0bdkrBokEEz0Ahv0bK3Ba4ZELVGqk/edit

Completed doc. Created earlier in SCRF lifetime. Start from here to update personas.

[2022-08-09 16:38] vincenzospaghetti commented on #101
any further review of this needed?

https://docs.google.com/presentation/d/12JuLCMNb6ZLnt5nTsF4UejA47brh4QO-3LdSs3T6DX4/edit

[2022-08-09 16:42] vincenzospaghetti commented on #123
Strategic community design & mission/vision/strategy work ongoing. This is what I will close out my time with SCRF with.

See attached for the presentation deck. Please use as reference for the future. Luman is a firm specializing in this kind of work. I received support in framing this problem and solution from them.

[SCRF Community Onboarding .pdf](https://github.com/smartcontractresearchforum/

[2022-08-09 16:43] vincenzospaghetti commented on #123
Onboarding metrics are being tracked Monthly in this file : https://docs.google.com/presentation/d/1tiN_T8uA6YqoVe5zVZOSYmZiuv_GMxyyePC0qKcz_p8/edit#slide=id.g135fef10207_2_51

Use the slide as a template for reporting each month.
Began June 2022

[2022-08-09 19:21] zubepaul commented on #125
Proposal: Each person would have a GDrive folder and each Vertical would have a folder.
Open question - what is the threshold for creating a folder? Likely core or higher.

[2022-08-09 20:24] vincenzospaghetti commented on #70
Existing User Personas, additional doc:
https://docs.google.com/document/d/1lX2Kaj3i1oLGi9HU_nTqUQXVm1O8035xveA2NiU1lTY/edit#heading=h.xb99zizo779

[2022-08-09 21:51] zubepaul commented on #101
Review completed.

[2022-08-09 21:51] #101 closed

[2022-08-09 22:06] zubepaul commented on #141
Use the link below to indicate availability so we can meet in the next 7 days
https://lettucemeet.com/l/J3WdA

[2022-08-09 22:09] zubepaul commented on #141
@ufkhan97 Is going to create an initial document and link to this issue so we can start coordinating there as well.

[2022-08-09 22:12] zubepaul commented on #140
I like this initial direction, particularly the feedback loop telling SCRF what you're looking for.

[2022-08-09 22:17] zubepaul commented on #135
- Comment of the month is hopefully migrating to the forum once the Community Category exists. Tracked in issue #86
- There are several plans that would make use of Live that could potentially grow and strengthen community.

[2022-08-09 22:18] RuthTolulope commented on #141
Done

On Tue, 9 Aug 2022 at 23:09, zubepaul ***@***.***> wrote:

[2022-08-09 22:24] zubepaul commented on #115
Initial draft and process done.

[2022-08-09 22:24] #115 closed

[2022-08-09 22:25] zubepaul commented on #110
Is this now being tracked in the SCRF Messaging board?

[2022-08-09 22:26] zubepaul commented on #108
Candidate for bounty

[2022-08-09 22:26] #107 closed

[2022-08-09 22:30] zubepaul commented on #106
Potentially include as a bounty

[2022-08-10 13:14] ufkhan97 commented on #141
Doc started here: https://docs.google.com/document/d/1u1iMng_IcZqXAb1TRQVg1EoIg4XgYZHeIWFNpg20wvY/edit

Please let me know if anyone needs edit permissions

[2022-08-10 18:02] zubepaul opened #143 "Moderation Meeting"

[2022-08-10 18:05] ttaloute commented on #126
Do we want all current contractors to sign the most updated contract? @eleventh19

[2022-08-10 18:06] ttaloute commented on #112
Here is an interview guide for pt positions: https://docs.google.com/document/d/1sx5AjbPgOC7q3o4L5nwCp-nZuY4YbLzcTyIBGqZrJN0/edit#.

[2022-08-10 22:33] zubepaul commented on #116
I'm going to highly recommend that anyone coming to the Friday meeting check out this thread
https://www.smartcontractresearch.org/t/flying-the-sourcecred-plane/1873

[2022-08-11 03:50] vincenzospaghetti opened #144 "Addressing Purpose/Mission/Vision & Strategy"
This project is the ticket to addressing the purpose/mission/vision and short-term or mid-term strategy at SCRF. Consistently, it has become an issue that the mission of SCRF is unclear. Rather than the fact that SCRF does not have this determined, it simply has not been properly documented or aligned by the team (in some time). This project suggests a facilitated session (multiple sessions) with

[2022-08-11 03:51] vincenzospaghetti commented on #144
Strategic community design & mission/vision/strategy work ongoing. This is what I will close out my time with SCRF with.

See attached for the presentation deck. Please use it as a reference for the future. Luman is a firm specializing in this kind of work. I received support in framing this problem and solution from them.

[SCRF Community Onboarding .pdf](https://github.com/smartcontractresearchf

[2022-08-11 03:51] vincenzospaghetti commented on #144
@eleventh19 has been working with Converge Network as another vendor for this proposal

[2022-08-11 03:53] vincenzospaghetti commented on #144
For reference, the book, Impact Networks, which became a team read, sets the stage for this work and is a good reference for the team about why this is important for the future success of SCRF.

SCRF has been hosting sessions to review the book.

[2022-08-11 13:38] vincenzospaghetti commented on #64
Is this still to be created, or can I delete this ticket? I see this as a future 'nice to have'.

[2022-08-11 13:42] vincenzospaghetti commented on #66
@zubepaul can use the template i put in there or create another one for the team to source bounties with.

[2022-08-11 13:50] vincenzospaghetti commented on #65
I believe this ticket can be closed out. @SirAh0 @zubepaul

To my knowledge, Brian will be conducting skill shares each month and, as needed, can include a focus on Github. There may be an opportunity for Brian to create a 'how to github with scrf' video - of which can fold into this open ticket: https://github.com/smartcontractresearchforum/engagement/issues/68

[2022-08-11 13:50] #65 closed

[2022-08-11 13:52] vincenzospaghetti commented on #63
Not sure if this ties into the onboarding and hiring tracker we created. This document is here: https://docs.google.com/spreadsheets/d/1GoLgXPF3SFpkUTUQDbkdcoGJ2rX13XNyGrsWVFrY4nY/edit

Going forward, @0xAngle will manage the Onboarding portion of this doc and make sure all new hires have what they need to be successful, using the doc as a checklist for him and hiring.

[2022-08-11 13:53] vincenzospaghetti commented on #62
This ticket ties into another open ticket: https://github.com/smartcontractresearchforum/engagement/issues/63

This document has been created and I will close this ticket.

Going forward @0xAngle will manage this document alongside hiring.

[2022-08-11 13:53] #62 closed

[2022-08-11 13:57] #63 closed

[2022-08-11 14:52] vincenzospaghetti opened #145 "Onboarding & Community Monthly Metrics"

[2022-08-11 14:59] vincenzospaghetti commented on #123
Process Modeling should be used to document all the processes built around operations and the community.
I recommend using free software called Bizagi.

@ttaloute @LorrettaGS

[2022-08-11 15:57] vincenzospaghetti commented on #145
Preview of metrics slide here:

![Image](https://user-images.githubusercontent.com/93289575/184176991-fdebe38e-da11-4016-9313-3f3d90bc7a90.JPG)

[2022-08-11 15:59] #117 closed

[2022-08-11 16:00] vincenzospaghetti commented on #61
May or may not do this going forward. @0xAngle can decide. I would recommend just posting an announcement in #info on Discord. See my other posts as examples.

https://discord.com/channels/784234332617048065/968212233182134323

[2022-08-11 16:00] #61 closed

[2022-08-11 16:01] #88 closed, assigned to nobody

[2022-08-11 16:06] vincenzospaghetti commented on #144
This project concerns the entire core team. Tagging here for awareness: @eleventh19 @zubepaul @marvino3 @ghettodev @twan-dev

[2022-08-11 16:24] ttaloute opened #146 "Managing Climate Change with Blockchains and Oracles - Tecnalia/Chainlink Labs Report"
Link to Forum Post: https://www.smartcontractresearch.org/t/research-summary-managing-climate-change-with-blockchains-and-oracles-tecnalia-chainlink-labs-report/1509

[2022-08-11 17:13] zubepaul commented on #64
Appropriate to keep open as an Engagement Idea on the project board. To move this forward

[2022-08-11 17:34] #71 closed

[2022-08-11 20:02] zubepaul commented on #70
Are the above two documents going to end up in the onboarding folder we created?

[2022-08-11 20:08] vincenzospaghetti commented on #75
@marvino3 and @vsterling I am assigning this ticket to you. As I offboard from SCRF, want to make sure this is picked up if you decide you need it.

In the past @Wood-Jack has offered support and I would suggest working with a PM to manage this.

[2022-08-11 20:12] vincenzospaghetti commented on #64
@zubepaul - would recommend adding Nancy to this ticket

[2022-08-11 20:17] vincenzospaghetti commented on #70
SCRF Initial branding exercise in June of 2021. This has since then been iterated on and there is a more up to date document with @marvino3

https://docs.google.com/presentation/d/1_dW0bGpLZLJGqp9VpYndKEVLwh6Z9VEBTbydvKW1QCg/edit#slide=id.ge526529e62_0_241

[2022-08-11 20:27] Fizzymidas commented on #146
Did this pass through the content pipeline?

[2022-08-11 20:53] vincenzospaghetti opened #147 "Valerie Offboarding Checklist"
The purpose of this ticket is to make sure to capture and continue the work Valerie was doing for onboarding and SCRF overall.

Linked here you'll find a checklist of things, new assignments of tasks, and important documents. All of these documents are now stored in the [Engagement Team Drive](https://drive.google.com/drive/u/1/folders/0AP0mjA_oIyg4Uk9PVA).

https://docs.google.com/document/d/1fWa

[2022-08-11 20:54] vincenzospaghetti commented on #147
![Image](https://user-images.githubusercontent.com/93289575/184240370-797eb982-d72c-4359-9f75-75b8fd0e2b5d.JPG)

[2022-08-12 05:14] vincenzospaghetti commented on #70
I cannot move them without losing the live link. I would check with Eugene
and Maria if you even need them going forward or if they should live with
Discovery.

Valerie Spina

On Thu, Aug 11, 2022, 2:02 PM zubepaul ***@***.***> wrote:

[2022-08-12 13:27] SirAh0 commented on #116
Per our conversation - the concept of building models will be discussed today and I will see if there is anyone interested in build one as well. I will provide an anonymized list of the August CredRank as a sample data set.

[2022-08-12 13:44] SirAh0 commented on #116
**Follow Ups from June**
Community Outreach
• Increase frequency of Chat Opt In
• Advertise Guild
• Publish Guild Meets on YouTube

[2022-08-12 13:59] zubepaul commented on #146
@Fizzymidas No, it did not. This is a piece that was published external to SCRF but is getting included in the Discord 5 and we want to start tracking some metrics

[2022-08-12 16:13] zubepaul opened #148 "Engagement Grant"
### Description
This engagement grant is to advance the discussion on 4 of the following threads.
@mazewind is the recipient of this grant
### To Complete
- Pick 4 of the following threads to comment on
- Provide meaningful discussion on that thread. This means providing some unique analysis of the issue/research, justifies and proposes next steps in the research or application, connects the resea

[2022-08-12 17:44] SirAh0 commented on #116
Schedule skill sprint friday same time

[2022-08-12 17:59] zubepaul commented on #116
### Notes
Presented the [July update slide deck](https://docs.google.com/presentation/u/2/d/13vTyPctmuBIUghCbwFQgfnNzCAnoRxpUHj6KbjPGZtg/edit?usp=sharing)
- Open question, anyone willing to do a roll up/guild report?
-  Claimed cred went up. The model is getting closer to encouraging participation.
- Brian to create a skill sprint that helps people run models for SourceCred and we can start talkin

[2022-08-12 18:57] vincenzospaghetti commented on #144
**Context on SCRF:**
- Summer 2020: SCRF was created from a partnership between Rich and Sergey (Chainlink). They saw a problem in an industry where academics aren't focused on the real problems/cutting-edge problems.
- So, what if there is this incentivized forum to start moderated, a long-term discussion where people can discover this information? And the forum is joint facilitation between the

[2022-08-12 19:02] vincenzospaghetti commented on #144
@eleventh19 ready to consider Vendors and hear pitches. No more than 4 to 6 weeks ready to run these sessions with core ops and select other folks. Considering:
- Luman, Tirza
- Converge Network
- Other folks from Eugene network in Pittsburg

[2022-08-12 20:09] Ulyssesmathew commented on #128
Hi @zubepaul, this is to notify you that the work is ready for your consideration.

Best regards,
Matthew

[2022-08-15 05:03] twan-dev opened #149 "🗪 [🔓] UAR"
### Request

jringo_#2719 needs access to post to the #announcements channels (suggested: content lead)

[2022-08-15 14:07] SirAh0 commented on #149
content lead role which provides permission for #announcements channel

[2022-08-15 14:07] #149 closed

[2022-08-15 14:14] vincenzospaghetti commented on #147
@ttaloute Just FYI - I have recommended you to PM/facilitate the Legal Working Group going forward. We are going to assess how much work is here and what the Working Group looks like for the next 30-60-90 (if at all).

@twan-dev

[2022-08-15 15:05] ufkhan97 commented on #141
Paul, Angel and I met this morning and continued working on launching the community section of the forum. We decided to:

- Target: Friday, April 19th as a Launch Date
- Have some content ready to go on launch

To Do after this meeting:
- [ ] Update the About doc, flesh out post-type descriptions, and blurb about joining the chat. Add any links to documentation/further reading
- [ ] Comb through t

[2022-08-15 16:09] zubepaul opened #150 "Engagement Vertical Meeting"

[2022-08-15 17:10] zubepaul commented on #112
@LorrettaGS Could you please take a look at this document above.
@ttaloute let's expand this to having a shorter version for grant recipients.

[2022-08-15 17:15] ttaloute opened #151 "Job descriptions for existing contractors"

[2022-08-15 17:15] ttaloute opened #152 "Performance review guide/reminders"

[2022-08-15 17:59] zubepaul commented on #128
Looks great and I look forward to them being on the forum!
When billing for this grant, you may link to this issue as evidence of completion once the comments are on the forum.

[2022-08-15 18:16] Ulyssesmathew commented on #128
Alright, thank you!

[2022-08-15 18:43] vincenzospaghetti opened #153 "This Week at SCRF"

[2022-08-15 18:47] vincenzospaghetti commented on #75
A lot already happening on this. @marvino3 fairly coordinated on this with @zubepaul and Engagement. Used the documents and another sheet from @vsterling. Working to combine those and put them up on Github.

Document @vincenzospaghetti started: https://docs.google.com/spreadsheets/d/1bIHK79Gn8pYK0r4fSBvZX3c2WEvsxbM5s4G_R63mujQ/edit?authuser=1#gid=0

Document @vsterling started: https://docs.google

[2022-08-15 18:58] zubepaul commented on #150
### Notes
- Talked about engagement grant
- Talked about kudos and reputation and how we can build to that through community
- Talked through the project awareness
- We need a PM to help support hiring. Maybe the creation of an internal ambassador program.

[2022-08-15 19:17] vincenzospaghetti commented on #153
![Image](https://user-images.githubusercontent.com/93289575/184701950-3b60cbdd-ef90-49d7-a501-808b4f0f5569.png)

[2022-08-15 20:48] RuthTolulope commented on #141
I added more sections and some items to the SCRF recommends document.

[2022-08-15 21:57] SirAh0 opened #154 "🗪Chat-🤖 New Bot Posting"
### Describe the request

this is just a test!

[2022-08-15 22:06] SirAh0 opened #155 "🗪Chat-🤖 New Bot Posting"
### Describe the request

another test - should be working now!

[2022-08-16 12:40] zubepaul commented on #153
This is a good graphic to start with. Perhaps something that @marvino3 and team can look at once this project moves forward

[2022-08-16 12:55] zubepaul commented on #68
This is likely to be incorporated into/replaced by #103

[2022-08-16 13:03] zubepaul commented on #93
@SirAh0 Is this being tracked through the Chat Guild at this point?

[2022-08-16 13:04] zubepaul commented on #84
@Fizzymidas migration of files was able to be automated. Is the GTM project board now up-to-date?

[2022-08-16 13:08] Wood-Jack commented on #64
Will do

On Tue, Aug 16, 2022 at 9:02 AM zubepaul ***@***.***> wrote:

[2022-08-16 13:10] jring-o opened #156 "🗪 [🚧] Change Request"
### ⛽Fueled Task List

- [x] Schedule a meet with @SirAh0 to implement the change on test server
- [x] Pick a launch window for this change to go live
- [x] Ensure your change is launch ready before the launch window
- [x] Schedule a follow up meeting with @SirAh0 to explain why this change was a success one month out
- [x] Document pipeline approval, if applicable @marvino3

### Benefits

Allow u

[2022-08-16 18:17] zubepaul opened #157 "Onboarding Meeting"
## Agenda
- General announcements
- Updates/hiring barriers
- Onboarding goals
- Onboarding assessment
- Onboarding metrics

[2022-08-16 18:24] SirAh0 opened #158 "🗪 [🔓] UAR - PM Role - Write to Announcement Category"
### Request

PM Role can now manage content in any channel within the Announcement category.

[2022-08-16 18:24] #158 closed

[2022-08-16 18:54] zubepaul commented on #128
Thank you for your work, grant reviewed and approved by Engagement team.

[2022-08-16 18:54] #128 closed

[2022-08-16 18:57] zubepaul commented on #86
One more step needed in process. Streamlining of the billing process to help out invoicing at the end of each month.

[2022-08-16 18:58] zubepaul commented on #153
This ticket now covers #121 as well

[2022-08-16 18:59] zubepaul commented on #121
Combining with issue that was duplicated. This will close and be tracked in #153

[2022-08-16 18:59] #121 closed

[2022-08-16 19:00] zubepaul commented on #153
Issue 121 has a draft of the project plan that should be migrated into this ticket.

[2022-08-16 19:17] vincenzospaghetti opened #159 "Decide Access for Ticketing in Discord"

[2022-08-16 19:18] vincenzospaghetti commented on #159
@zubepaul to create a list of who should have access.

[2022-08-16 19:41] vincenzospaghetti commented on #145
@SirAh0 hosts a monthly Analytics Guild and suggests that the person that picks this up joins that monthly meeting. The Analytics Guild will be answering how we track metrics here and decide what other metrics the organization needs and how we get them. Overall will have a deeper dive into Discord metrics.

[2022-08-16 19:47] vincenzospaghetti opened #160 "Hiring Monthly Metrics"

[2022-08-16 19:51] #157 closed

[2022-08-17 10:47] mazewind commented on #148
@zubepaul I've completed the comments :)

[2022-08-17 14:51] zubepaul commented on #148
Thank you for your great work. I would like to have a follow up with you (can be a meeting or through a chat) to talk about your experience with this grant.

You may also use this GH issue in your billing statement as evidence of completion if needed.

[2022-08-17 14:51] #148 closed

[2022-08-17 15:05] zubepaul commented on #141
Thank you @RuthTolulope for getting start on the SCRF recommends section. I am also thinking that the about section is pretty much done, but I do want to take at least one more read through it, but I hope all on this issue look and suggest as well. @0xAngle how is the taking a look at what should be in this new section going for you?

[2022-08-17 15:32] 0xAngle commented on #141
Hi, yea I have a list

Based on "discussion about the SITE" description of META, these should be
moved since they are not related

All Reading Group Threads
Onboarding to SCRF ~maybe
SCRF Interviews
How can Discord benefit
Collaborative Research Proposal: A taxonomy and genealogy of
decentralization
SCRF Help Wanted
SCRF Weekly Community Calls
A collection of Blockchain Syllabi and Course Material

[2022-08-17 15:36] #42 closed

[2022-08-17 19:46] mazewind commented on #148
Great, sounds good! I'd be up for either a chat or a call

[2022-08-17 19:54] ttaloute opened #161 "Welcome Packet"

[2022-08-17 23:36] ufkhan97 commented on #139
Vote concluded. The Infinite Machine was selected as our next book to read.

Follow Up Items include:

- [ ] Pick a date and make a calendar event for the first reading group session. Ideally, schedule all sessions up-front
- [ ] Determine if we should assist people in obtaining the book or just let everyone acquire it individually
- [ ] Determine who will share pre-session reading notes and facil

[2022-08-18 00:22] ufkhan97 commented on #139
Created Process doc: https://docs.google.com/document/d/1yz1K0yku27iAi3EozcakU2iyi14MLnTYE68g1Ev5hNo/edit

[2022-08-18 00:24] ufkhan97 commented on #141
I made some slight tweaks to the "About" doc and added some links to it. Feeling good about this.

Thank you @RuthTolulope for fleshing out the SCRF recommends document! I'll also add to this with some more examples as I dig around and hear from more folks

[2022-08-18 13:17] Fizzymidas commented on #84
Great, I followed up earlier about the access permissions, so cool to know that part is automated.

Yes, regarding all existing issues from the content pipeline, the GTM Board is now up to date.

I have a question as to how to know when a new content issue is created, so as to update it on GTM when it hits the forum.

[2022-08-18 13:32] Wood-Jack opened #162 "🗪Chat-🤖 Weekly Comment of the month updates"
### Describe the request

Hello Brian ,

I would like to make a weekly reminder comment of the month bot to inform our community.

[2022-08-18 13:55] zubepaul opened #163 "Cohort Writing for Engagement"
### Description
This project proposes working with a partner organization to hold writing cohorts that help increase the quantity and quality of content on the forum within given categories.
### Steps
- [ ] Write [project proposal](https://docs.google.com/document/d/16j5UETSkzLmxjrPdJzGTpETibts7tlgYcjKcz41MQTQ/edit)
- [ ] Present to Ops
- [ ] Pre-trial steps
- [ ] Assessment

[2022-08-18 14:44] zubepaul commented on #159
This is a more complex problem then assumed as it requires bot editing access. @SirAh0 to address by Monday, August 23

[2022-08-18 15:48] zubepaul opened #164 "Onboarding Requirements for Skill Sprints"
### Description
The onboarding team has various needs for new community members, contributors, and core members to develop skills to help navigate SCRF and use the tools to help finish SCRF projects and tasks.
Although new needs will emerge in the future, this is an initial capturing of skills sprint needs from the engagement team.

**Comment below with recommendations/suggestions**

[2022-08-18 18:02] ttaloute opened #165 "🗃️ - New Job Listing"
### Team

Discovery

### New Role Name

Discovery Project Manager

### Role Proposal URL

https://docs.google.com/document/d/1vCRxTrcMz_ggYwhnP9-9l50Mc4rRx0iBb6ux7s9r2t8/edit

[2022-08-19 14:22] zubepaul commented on #84
@Fizzymidas There is no current automation that provides notification as far as I know. Perhaps we can make this a weekly task to update the GTM board

[2022-08-19 14:32] zubepaul commented on #141
Proposed Launch Day Plan
- Create Category
- Migrate `meta` materials to `community`
- Create about pinned post
- Announce on Discord
- Have people here hype that up, especially @0xAngle and @ufkhan97
- Help @MichaelSCRF promote via socials

[2022-08-19 16:03] Fizzymidas commented on #84
alright then.

[2022-08-19 16:16] zubepaul commented on #141
For **Community Call** section, we will need to do some coordinated note taking to help socials as well. @0xAngle and @MichaelSCRF we should coordinate

[2022-08-19 17:19] 0xAngle commented on #141
yes. I intend to start taking notes and making posts as soon as the
category is available.

On Fri, Aug 19, 2022 at 11:16 AM zubepaul ***@***.***> wrote:

[2022-08-19 17:28] 0xAngle commented on #141
Do we have an idea of what the description / intention for types of posts
we want in this section?

On Fri, Aug 19, 2022 at 12:19 PM Angel Reyes ***@***.***>
wrote:

[2022-08-19 17:33] SirAh0 commented on #156
Craig has been added. Lets connect early next week and make sure its working as you need it to.

[2022-08-19 18:10] ttaloute commented on #165
@ghettodev  and @eleventh19 : please check out the role proposal. If there is anything you need clarity/have questions on please put it in the doc.

Also please review the JD (has same info as role proposal)
Link to the JD: https://docs.google.com/document/d/164BodpDsM_Wor8BZwB0PKndabVKX-gEWJ8Yhy0cws88/edit#

[2022-08-19 18:44] zubepaul commented on #141
Goals will be to provide a brief overview so that someone would know overall what happens, where subjects start end (with time indicators) and maybe some question primes for discussion. We can do some brainstorming together.

[2022-08-19 19:40] 0xAngle commented on #141
Ok yea lets talk on that. Do we want to do this for Guild Meetings as well?

On Fri, Aug 19, 2022 at 1:44 PM zubepaul ***@***.***> wrote:

[2022-08-20 04:48] Yesh-2691 commented on #233
### Aug 19, 2022

- Where does the initial document from? Is it from the Content team ? - What is this? an Issue on Github.
- Does one document contain multiple Posts associated with it?
- Solution: Automation of Steps 1&2.
- Paul : From Engagement pipeline not connect with content pipeline.
    - Whenever an issue is added to the ‘Under review’ list of the Moderation/engagement board and a modera

[2022-08-20 13:19] zubepaul commented on #141
The Guilds should take care of their own notes, but we can discuss helping to model it. Category is now live.
- @ufkhan97 Could you please post the content about Notable Works and Key questions in a similar way to other categories?
- @RuthTolulope Could you please start the  SCRF recommends post.

Once those are done, please tag me as I will update the pinned post link to the director instead of t

[2022-08-22 18:09] zubepaul opened #166 "Community Brainstorm Ideas"

[2022-08-22 20:56] #84 closed

[2022-08-22 21:20] zubepaul commented on #74
@circusqp
This is where we will put our assessment plan and track that as well as trying to pull together some research to support onboarding assessment and improvement.

[2022-08-23 13:34] zubepaul commented on #141
@ufkhan97 @RuthTolulope
Updates? I would like to be able to announce this via Discord and Socials this week

[2022-08-23 15:58] zubepaul opened #167 "Community Quests"
## Description
This issue tracks the initial development of a community quest development idea. It will be completed once a proposal is created and a pilot created.
## Steps
- [ ] Brainstorm
- [ ] Project proposal
- [ ] Pilot
- [ ] Assess

[2022-08-23 16:35] SirAh0 opened #168 "CraigBot Config"
Run this command and assign the `recorders `role.

/server-settings access-role

![image](https://user-images.githubusercontent.com/12703396/186213035-6747c60e-fde8-42ac-8d9f-317ddded9f1a.png)

[2022-08-23 16:41] SirAh0 commented on #168
done

[2022-08-23 16:41] #168 closed

[2022-08-23 18:01] zubepaul opened #169 "Onboarding Meeting"
## Agenda August 23, 2022
- Blockers and Round Robin
- Goals of Onboarding
- Assessing Onboarding
- Identifying Best Practices
- Metrics

[2022-08-23 18:18] ufkhan97 commented on #141
@zubepaul Notable works thread up here: https://www.smartcontractresearch.org/t/notable-works-on-community/1942

I will try to research and seed the list with a couple pieces this week.

Definitely happy to help hype this up on discord when we're a go!

[2022-08-23 18:58] zubepaul commented on #141
I agree with your instinct to differentiate it a little with the preface. Please edit to make that change @ufkhan97

[2022-08-23 19:04] ttaloute commented on #125
Directory link: This will live in the outermost layer of the People and Hiring folder and serve as a reference for all leads and heads: https://docs.google.com/spreadsheets/d/1juxbuWQHWoOfCRJ_i5LoBdhPbPn-uX8dhABO0FjmoLI/edit?pli=1#gid=968480871

[2022-08-23 19:07] zubepaul commented on #112
@zubepaul to review

[2022-08-23 19:31] ttaloute commented on #161
Here is an example of an offer letter package Maria shared on the messaging board: file:///C:/Users/Tania%20Taloute/Downloads/Carta.Offer.Letter.Template.Pages%20(1).pdf

Here is a draft of a version for the engagement moderator role: https://docs.google.com/presentation/d/1t8vf7vjNckOsndBvIe8dZWDYa6b7PI5wlb5-fYPqwpw/edit#slide=id.g1337ab8f506_0_0

In our 8/17/2022 meeting, we discussed having a p

[2022-08-23 20:07] zubepaul commented on #169
Some general notes from our meeting today
**Goals**
Introductions (70% of people do that on channel)
List of users (internally)
Allow for role audits
Quest system for onboarding
Within GH, a person can somewhat onboard themselves
Use these issues to track people/interest in our organization
Include some automation like roles/etc.
Quests have people connections as well
Reputation platforms availabl

[2022-08-23 20:22] ufkhan97 commented on #141
Updated!

[2022-08-24 16:02] zubepaul opened #170 "Moderation Meeting"

[2022-08-24 18:59] zubepaul commented on #170
## Notes
- [ ] Action Item: How do you know you are in a good conversation? Community Call at some point
- [ ] Action Item: Make use of the glossary more (maybe as the
### General discussion
- Try to connect the RP content to Discord 5 if we can keep a record of it
- Talk metrics/discussion of analytics of newsletters. Just starting that conversation. Likely going to increase audience size. Indust

[2022-08-24 20:02] ttaloute commented on #90
8/24/2022 - reviews

How do we want to show appreciation and acknowledgment of core and contributors:
Hallmarks, contribution recognition, a celebration of being a part of SCRF:

- A year or more participating as a Core - meaningful tangible item (a mug?) or announcements; with end-of-year reviews
- Quarterly shout-outs
- When people are heading out - announcements when people are leaving a role.

[2022-08-24 22:37] zubepaul opened #171 "SCRF Event Minigrants"
### Description
A mini-grant for SCRF community members going to events and bring back contributions to the SCRF community
###
- [ ] [Trial requirements](https://docs.google.com/document/d/1G7VHCU2oogLFMCwQX3l-aPzPxkJa8bbV2VTkZk5NclE/edit#heading=h.q6ww85v7nedu)
- [ ] Proposal Doc
- [ ] Assessment

[2022-08-24 22:45] zubepaul commented on #171
Started brainstorming requirements/ideas in the trial requirements doc that is linked above.

[2022-08-25 11:24] jring-o commented on #167
An example quest:

Find pieces of research posted to SCRF that are strongly related.

Every approved connection gets you a point.

Every X points gets you a Y.

[2022-08-25 12:10] content-scrf commented on #141
Hi @zubepaul, I have updated the blurb on SCRF recommends here https://docs.google.com/document/d/1xbEDvFBdWk22piaX67YKvTpU2mGihrIk9CCA9FaP3ps/edit?usp=sharing
I am ready to post to the forum once approved.

[2022-08-25 12:12] RuthTolulope commented on #141
Hi @zubepaul I have updated the blurb on the community section here https://docs.google.com/document/d/1xbEDvFBdWk22piaX67YKvTpU2mGihrIk9CCA9FaP3ps/edit?usp=sharing

I am ready to post to the forum once approved.

[2022-08-25 12:12] twan-dev commented on #167
Good Idea 👍

[2022-08-25 14:09] SirAh0 opened #172 "🗪 [🔓] UAR"
### Request

remove researcher role, just a reminder for myself

[2022-08-25 14:56] SirAh0 commented on #135
**Archive**
All current chopping block

[2022-08-25 15:02] Wood-Jack commented on #135
Are we Chopping it today?

[2022-08-25 15:03] SirAh0 commented on #135
Today and through the weekend I will be making changes.

[2022-08-25 15:29] twan-dev opened #173 "🗪 [🚧] Change Request"
### ⛽Fueled Task List

- [ ] Schedule a meet with @SirAh0 to implement the change on test server
- [ ] Pick a launch window for this change to go live
- [ ] Ensure your change is launch ready before the launch window
- [ ] Schedule a follow up meeting with @SirAh0 to explain why this change was a success one month out
- [ ] Document pipeline approval, if applicable @marvino3

### Benefits

_No res

[2022-08-25 18:15] zubepaul commented on #141
There are some tags to make as well, but then after that, we did the thing, team!

[2022-08-25 18:20] zubepaul opened #174 "🗪 [📅] Calendar"
### Describe Problem

Need to change the Onboarding Bootcamp to the first Tuesday of every month instead of the first day of every month. This will take effect in October. @zubepaul will find a time that works

[2022-08-25 18:45] MichaelSCRF commented on #141
Socials posts are now live!

Twitter: https://twitter.com/SCRForum/status/1562872280283111431?s=20&t=9sdb1wD5fKu5Z1lQNjQRWA

LinkedIn: https://www.linkedin.com/posts/smart-contract-research-forum_community-activity-6968637963295485952-SDIi?utm_source=share&utm_medium=member_desktop

[2022-08-26 13:19] Wood-Jack commented on #72
Current update:

- [x] @Wood-Jack  getting file folder structure information frm Twan

- [x] @0xAngle getting file folder structure infromation from Eugene and Maria

- [x] Reconvene at a time and add last remaining file structure into documentation

Also don't forget to ask which files they want public or private.

[2022-08-26 13:20] Wood-Jack commented on #92
Current Update:

- [ ] Adding contractors individual file folders into the documentation

Overall ticket will be complete when ticket #72 is complete

[2022-08-29 12:55] #141 closed

[2022-08-29 12:57] zubepaul commented on #167
@jring-o could you elaborate on what the points are/do in the Brainstorm doc above?

[2022-08-29 14:34] zubepaul opened #175 "Community Routines Development"
This is where community/chat routines are going to be identified and planned.
- [ ] Create a routine document and link it to this ticket

[2022-08-29 14:41] zubepaul opened #176 "Engagement Vertical Meeting"

[2022-08-29 17:02] circusqp commented on #74
WIP: https://docs.google.com/document/d/125OvMAjj-rSiehb9H9YZCLx9LoBY6rISxDfpVwyvP3Q/edit?usp=sharing

[2022-08-29 18:18] zubepaul commented on #176
### Notes
- Starting to get working on some work flows for the engagement perspective overall and help support and build some processes and board that help with the various projects
- Having some file creation process for HR purposes. Developing the performance review process and goals. When is an update happening. Once approved by Ops, we need to have a roll out plan. Looking to deploy late Septe

[2022-08-29 18:45] zubepaul commented on #67
This needs a stronger proposal that help guides what needs to be accomplished by this. Minimally goals. This is for community onboarding, so can be a simpler version than the hiring onboarding welcome packet that is associated with a specific position.

[2022-08-29 20:52] zubepaul commented on #147
Most of these tasks are now assigned and in progress. Closing ticket and adding an additional thank you to @vincenzospaghetti

[2022-08-29 20:52] #147 closed

[2022-08-30 15:50] zubepaul opened #177 "Onboarding Meeting"
## Agenda August 30th
- Updates and Obstacles
- Assessment
- Onboarding Session on Thursday

[2022-08-30 18:34] zubepaul commented on #139
Thanks for the update.
Additional element to consider for this group: creating a general reading group template for forum output. We can use the above process document.

[2022-08-30 19:34] circusqp commented on #177
WIP on assessment plan: https://docs.google.com/document/d/125OvMAjj-rSiehb9H9YZCLx9LoBY6rISxDfpVwyvP3Q/edit
Associated with: issue [#74](https://github.com/smartcontractresearchforum/engagement/issues/74)

[2022-08-30 20:02] zubepaul commented on #177
### Notes
- Identifying a date for the onboarding call to take place. Making sure it is connecting to the community call and/or Coffee House. Here's the next meeting/community call. Potentially part of a quest.
- Angel to start recording how many people join in a week. Exploring why people don't unlock and is there some analytics that help us know who has shown up but not unlocked @SirAh0 Discuss

[2022-08-30 20:34] zubepaul commented on #74
Drafts of survey will be in by Thursday Sept 1, plan is to roll these out the week of September 5. Goal is to have a roll out plan. Launch on the 7th and give it about 10 days with some reminder posts in the chat. Analysis then will take place by about October 24th

[2022-08-31 17:09] zubepaul opened #178 "Moderation Meeting"
## Agenda
- GTM updates/process
- Goals for 10 and 5
- Activity in Discord
- Low quality friendly comment rise
- Moderating community

[2022-08-31 17:36] ttaloute opened #179 "Metrics on Announcements"

[2022-08-31 17:40] ttaloute commented on #179
Here is where the posts will be captured: https://docs.google.com/spreadsheets/d/1hwm2uiWfhLpQtO597WAfecp-GmKc7w0Kp0N9YKyecL8/edit#gid=0

[2022-08-31 17:52] #87 closed

[2022-08-31 18:11] Yesh-2691 commented on #178
Notes:

- Instead of a full GTM , the focus is now on engagement strategy. Surfacing / re-surfacing topics etc.

[2022-09-01 00:33] ufkhan97 commented on #139
Posted: https://www.smartcontractresearch.org/t/reading-group-the-infinite-machine/1988

[2022-09-01 17:37] zubepaul commented on #179
Thank you for pulling this together

[2022-09-01 18:50] #177 closed

[2022-09-01 21:19] SirAh0 opened #180 "September Chat Guild Agenda - 2022"

[2022-09-01 21:26] SirAh0 commented on #135
**Chopping Block**
- 🐦socials
- linkedin
- twitter
- 🏟scrf-events-chat

**Deleted**
Internal Vertical categories and their channels. Project specific channels will be added as needed within the SCRF Team category.

**New Bots**
Craig for Live recording
StatBot for metrics

**Bot Changes**
Head role can now use the /GiveRole command to assign roles Lead and below roles.

**New Roles**
Recorder - Al

[2022-09-01 21:29] SirAh0 commented on #135
**Moved Channels**
source-cred-opt-in moved to APPLY HERE

[2022-09-02 18:08] circusqp commented on #74
Draft of onboarding survey questions: https://docs.google.com/document/d/1GUx3J_5PZkhqwPsORnuSqCPkZetTb_K_Q1h-BrQPxsw/edit?usp=sharing

There's a few more things I need to do and then I'll hand over to the team for review and editing over the next few days

[2022-09-02 20:21] zubepaul commented on #74
Thank you for the draft and this is something I can review by the end of September 5. How does this impact our roll out plan?

[2022-09-02 20:35] SirAh0 commented on #180
- How can the community know what our roles mean? How can we expand the start-here channel to expose that information.
- visual help - powerpoint or video - Skill Sprint
- tutorial mode: find
- time based roles: new expires after awhile
- how can we forward cred to people participating
- can list mentions in the guild report
- can we extend this to coffee house chats?
- sourcecred guild agenda: us

[2022-09-03 01:14] circusqp commented on #74
We should be on time for the 7th. We still have Tuesday 6th meeting so we can run everything by the team just in case something is missing and they didn't get a chance to look before. Should be possible to make any arising/remaining changes during the meeting or right after.

[2022-09-03 15:52] okoba opened #181 "Weekly 'Discourse 5' post"
Description: this issue contains 5 summary topics , these topics will be the focus of discussion on the forum and it will be posted on the research channel for engagement.

Top conversation for the 1st week of September,2022.

1. [](https://www.smartcontractresearch.org/t/research-summary-nft-wash-trading-quantifying-suspicious-behaviour-in-nft-markets/1982
2. [](https://www.smartcontractresearch.

[2022-09-06 15:26] zubepaul opened #182 "Onboarding Meeting"
## Agenda
- Onboarding session debrief
- Onboarding metrics/survey overview
- Onboarding documentation
- Update on

[2022-09-06 18:24] SirAh0 commented on #174
Let me know if the time changes.

I've updated the day to be the first Tuesday of each month.

https://github.com/smartcontractresearchforum/discovery/issues/110

https://discord.gg/BCUnKBvr?event=1015290198462050374

https://scrf.io/calendar

[2022-09-06 18:27] #135 closed

[2022-09-06 20:02] zubepaul commented on #182
### Action Items
- [ ] Entry point documentation and funneling review and additions
- [ ] Apply here Discord tool evaluation and modification
- [ ] Deadline for feedback on the onboarding survey due by End of day Wednesday 9/7 PT

### Notes
- Review the *Start Here* on chat, make an issue and link here. @SirAh0
- Org level `Read Me`
- Hello World to be made into one issue to review all of the spac

[2022-09-06 20:06] zubepaul commented on #74
Onboarding team should provide any feedback to the [assessment survey](https://docs.google.com/document/d/1GUx3J_5PZkhqwPsORnuSqCPkZetTb_K_Q1h-BrQPxsw/edit) by end of the day Wednesday September 7th Pacific Time so @circusqp can incorporate that by the end of the week and roll out the survey.
@ttaloute @SirAh0 @LorrettaGS

[2022-09-06 21:38] #102 closed

[2022-09-06 21:40] zubepaul commented on #159
Per the #182 discussion, it seems there are no objections to this becoming an onboarding team access. Also, this is rolling into a Apply Here review ticket as well.

[2022-09-06 21:42] zubepaul opened #183 "Apply Here Chat Review"

[2022-09-06 21:47] zubepaul commented on #153
This could potentially be a contributor level project that runs on the forum.

[2022-09-07 03:19] SirAh0 commented on #183
I like the idea of producing a small video that will help people understand how to use the basics of discord.

I can produce the videos and keep them up to date as discord has major changes.

Another idea that never got the attention it deserved was using pinned messages. It would be good to keep these refreshed over time with highlights - especially things we do on a timed schedule.

![image](htt

[2022-09-07 17:07] zubepaul opened #184 "Moderation Meeting"
## Agenda
- Discord 5 roll out
- Moderation goals and actions
- Moderation improvement project

[2022-09-07 19:29] zubepaul commented on #184
### Notes
Mostly went over the [Moderation workflow](https://docs.google.com/document/d/1Iz1QEqZTtlh6Ivts-hBAAgdqCWrsqC89bUxoUsIQqic/edit#).
Expectations are that @okoba and @circusqp will increase their responsibility on moderation tasks

[2022-09-08 14:01] zubepaul opened #185 "SourceCred September Meeting"
## Agenda
- August numbers presentation
- September hybrid approach

[2022-09-08 14:03] zubepaul commented on #185
Some suggestions from others:
-  cover "Tipping with SC" and "Forum compensation" during the last meeting
- I am particularly interested in learning about how tipping on SCRF would work
- The possibilities of adding sourcecred to compensate GitHub contributions. Whether it's early or not.
- How, where and when SCRF members can monitor their rankings? (Whether that could increase risk of gaming ove

[2022-09-08 15:48] SirAh0 opened #186 "Discord Changes - 9/8"
-[ ] Fill this out @SirAh0

[2022-09-08 18:53] zubepaul opened #187 "Forum Tag Update Process"

[2022-09-09 13:12] zubepaul opened #188 "Engagement Grant: User Experience"
### Description
This grant is issued to Tomide to provide user experience improvements for 5 threads on the forum as described below. It is expected that this grant will take approximately 5-7 hours to complete
### Steps
- [x] Identify 5 [forum topics](https://www.smartcontractresearch.org/) with 10 or more responses. Link to those selected 5 comments below for review
- [x] Using this [grant docum

[2022-09-11 03:53] tomideadeoye commented on #188
Hi Paul, I don't have access to this [link](https://github.com/smartcontractresearchforum/engagement/issues/smartcontractresearch.org).

I guess this was a mistake, and it should link to smartcontractresearch.org

[2022-09-11 17:49] tomideadeoye commented on #188
Hi Paul,
I am proposing:

1. Leveraging Blockchain for Greater Accessibility of Machine Learning Models https://www.smartcontractresearch.org/t/research-summary-leveraging-blockchain-for-greater-accessibility-of-machine-learning-models/808
2. SoK: Applying Blockchain Technology in Industrial Internet of Things https://www.smartcontractresearch.org/t/research-summary-sok-applying-blockchain-technol

[2022-09-12 14:11] zubepaul commented on #72
The focus of this is to make sure that our onboarding materials are all in one place, that we can all access it as we need to for onboarding, and the that documents support the onboarding goals.

[2022-09-12 14:57] zubepaul commented on #188
@tomideadeoye
These are good selections. Please move on to the next step

[2022-09-12 15:56] zubepaul opened #189 "Engagement Vertical Meeting"
## Agenda
- Project updates and GitHub commenting
- Engagement Products Brainstorm

[2022-09-12 16:44] ttaloute commented on #183
The welcome message when someone currently makes a ticket reads as

"Welcome to SCRF!
We are excited to onboard you into all the opportunities at SCRF.

Please respond here to the instructions below
1. What bounty, grant, or full-time/part-time work are you applying for?
2. Link to your resume, CV, or portfolio

The Onboarding team will be with you shortly. "

I think adding "**This ticket will be

[2022-09-12 16:59] ttaloute commented on #165
Job posted:

- [ ] Github
- [ ] Opolis
- [ ] Bankless (no, fees)
- [ ] Cryptojobs (no, fees)
- [ ] Linkedin
- [ ] Gitcoin Jobs

[2022-09-12 20:23] SirAh0 opened #190 "🗪 Chat - 🚧 Basic User Metrics"
How can a bot display a raw count of basic metrics.

One of the bots currently deployed should have some of this capability.

**Todo**
- [ ] Figure out which bot has basic metrics
- [ ] create new basic metrics channel
- [ ] create new metrics role (server wide)
- [ ] give some people the metrics role
- [ ] don't forget to include this change in the Sept Chat Guild

@SirAh0
@0xAngle
@zubepaul

[2022-09-13 11:02] Yesh-2691 opened #191 "Onboarding Meeting Sep 13 , 2022"
- [x] PM process to be introduced while onbaording

[2022-09-13 14:25] okoba commented on #189
hello Everyone, any info on the engagement products ?

[2022-09-13 18:07] zubepaul commented on #189
@okoba
Unfortunately we did not get to that, so that is a still open brainstorm. Would you mind making an issue to track that in?

[2022-09-13 20:01] zubepaul commented on #191
### Notes
-Discussion about the format of these very notes. Discussion of creating just a singular thread for all of these meetings. The root issue will have a roll-up, reflect the up-to-date, and also resources. Otherwise alternate between agenda and notes for a thread.
- Added to the agenda: Ticketing tool is going to change. Right now there are dashboard limitations so we'll move toward a bette

[2022-09-14 13:29] okoba commented on #189
@zubepaul sure but i need to know what it should the issue should contain

[2022-09-14 13:42] zubepaul commented on #185
Additional topics of discussion
- Impact of flags/moderation actions on scores
- Collective ownership of moderating quality and what is quality?

[2022-09-14 14:11] zubepaul opened #192 "Moderation Meeting Agendas and Notes"

[2022-09-14 14:33] #184 closed

[2022-09-14 14:35] #178 closed

[2022-09-14 16:56] zubepaul commented on #189
- Discussion about onboarding roles and responsibilities. Tania is going to take the lead and responsibility for it. Was also discussed that @SirAh0 is working on a single issue template for onboarding for services, emails, group assignment.

[2022-09-14 16:57] zubepaul commented on #192
Remember these [metrics](https://github.com/smartcontractresearchforum/engagement/issues/170#issuecomment-1226116000) from a prior meeting. Should be crystalizing these somewhere

[2022-09-14 19:14] zubepaul commented on #192
### Notes
Started a discussion with @ttaloute on capturing Discord 5 metrics and how much of an impact that makes. Assessing whether that engagement strategy works. Might also include Google Analytics. Need to make sure we also consider control groups. @SirAh0 this should be a discussion point as part of our meeting. Controls might be able to be the whole post as an average, but we also have to be

[2022-09-15 14:48] zubepaul commented on #120
@ttaloute is doing this as an experiment per the [Moderation meeting on September 14](https://github.com/smartcontractresearchforum/engagement/issues/192#issuecomment-1247195774)

[2022-09-16 13:50] okoba commented on #187
what's the ideal time frame to it's update?, i think weekly . since we have discord 5 coming out as the main area of focus for the members of the forum, a summary on the discord 5 list might cause them to look for similar summaries with the aim of have better comprehension.
once a month for the review?
just need to know before working on an ideal process

[2022-09-16 17:45] SirAh0 commented on #185
**Update Process**
Take a screenshot of the opt in list before starting a new monthly opt in.

[2022-09-16 17:49] brian-scrf commented on #185
SourceCred logs have been updated.

[2022-09-16 20:34] SirAh0 commented on #185
SourceCred numbers are an interesting metrics for onboarding and user retention.

[2022-09-17 13:44] Coinproz commented on #185
Seth mentioned the possibility of doing a bi-weekly cred assessment that would give newer contributors with less cred the capacity to have a cred poll where more recent work was recognized

[2022-09-19 15:55] tomideadeoye commented on #188
Hi @zubepaul

https://docs.google.com/document/d/1UxckJYlwWbXg3Ypv7g0wlDf-yTMI9Lh17cMuforhxco/edit?pli=1#heading=h.rr95njje5fad

[2022-09-19 17:48] zubepaul commented on #188
@tomideadeoye
Overall, these look good. I will update after a final review within 24 hours. In the meantime, several of these proposed tags are not currently on the forum. It would be good to recommend and advocate for them on the forum using the [SCRF Terms Glossary and Content Tags](https://www.smartcontractresearch.org/t/scrf-terms-glossary-and-content-tags/364)

[2022-09-19 18:43] 0xAngle commented on #175
https://docs.google.com/document/d/1dKKZZwr6lXoFr4bVlH05VtmjITG9jkLSd_R5WlYlxzE/edit?usp=sharing

Let me know thoughts or additions

[2022-09-19 20:21] zubepaul commented on #161
@ttaloute What is the current status of this and how much of a priority is it currently?

[2022-09-19 20:24] zubepaul commented on #67
Connected somewhat to #161 and need to consolidate efforts. It appears this issue is currently focused on gathering what people would need in one place.

@Wood-Jack please link an updated documented to this issue with the list of needed and existing documents

[2022-09-20 18:21] zubepaul opened #193 "Onboarding Meeting Agendas and Notes"

[2022-09-20 18:25] zubepaul commented on #193
## Agenda for September 20, 2022
- Budget model and Engagement Board
- Onboarding priorities
- Project progress updates

[2022-09-20 18:31] ttaloute commented on #192
Moderation Summary Sept. 2022
The merits, drawbacks, and opportunities of ENS (Ethereum Name Service) have garnered some critical points of interest and questions in this discussion thread that include: What ARE the major differences between ENS and DNS (Domain Name Service)? What kind of challenges and limitations could ENS anticipate based on its similarities to DNS and what is its potential imp

[2022-09-20 18:32] ttaloute commented on #192
thoughts on this format/language.

[2022-09-20 19:10] SirAh0 opened #194 "🗪 [🤖] Bad Bot"
### Bot Name

Ticket Tool

### Describe Problem

- [ ] Find a new ticket tool
- [ ] deploy ticket tool to test server
- [ ] work with tania to secure new copy

[2022-09-20 19:49] ttaloute commented on #126
Will revist this in mid October.

[2022-09-20 20:00] zubepaul commented on #193
### Notes
Discussion about ticket tool. Need to find a new tool and figure out how to use it now and going forward. **Action Item** Assess ticket tool and what uses we have. @ttaloute @SirAh0 Previously mentioned in #191

Discussion about Bounty Board/team as a way to do Cordinape and team feedback. For the "internal" group. Bounty is for contributor level. There is a limited budget. This would be

[2022-09-21 15:11] zubepaul commented on #192
## Agenda for September 21, 2022
- Budget and impact on moderation
- Staff Notes
- Banner possibilities
- Moderation goals from #170

[2022-09-21 16:23] tomideadeoye commented on #188
Thanks, @zubepaul  I will collate those and add them to the thread.

[2022-09-21 17:09] #188 closed

[2022-09-21 17:23] #127 closed

[2022-09-21 18:59] zubepaul commented on #192
### Notes
Talked about budget restrictions

Discussed the moderation efforts and value. Discussion "summarization"  is something that could do as a bounty if we had a template. Either way, we need a review process and a template **Action Item** make templates/examples and how to socialize those/include in the issue ticket itself. Whereas the staff note is something that the team could do, but mean

[2022-09-22 10:54] Wood-Jack commented on #67
Connecting with SCRF: https://github.com/smartcontractresearchforum/docsfork/blob/main/en/content_connecting_with_scrf.md
Public Calendar: https://calendar.google.com/calendar/u/0/embed?src=null@scrf.io&ctz=America/Los_Angeles
Projects By Vertical(departmentt): https://github.com/orgs/smartcontractresearchforum/projects?query=is%3Aopen
SCRFTerms and titles: https://docs.google.com/document/d/1_6v1

[2022-09-22 14:22] brian-scrf commented on #194
hey i'm a random person!

[2022-09-22 15:36] SirAh0 opened #195 "🗪 [🔓] UAR - Cohort"
### Request

New Category - COHORT
New Channels - admin, chat
New Role - Cohort

Cohort role needed to view/talk.

@zubepaul will be using this for cohort series.

![image](https://user-images.githubusercontent.com/12703396/191790549-96aeea52-4925-4886-a6d9-8d72d80534a0.png)

It's live.

[2022-09-22 15:37] #195 closed, assigned to SirAh0

[2022-09-26 15:18] zubepaul opened #196 "Engagement Meeting Agendas and Notes"

[2022-09-26 16:18] Wood-Jack commented on #92
Added the contractors that were in core into the organizing documents

[2022-09-26 17:10] #181 closed

[2022-09-26 17:15] zubepaul commented on #125
Is there a process for updating this and also retaining prior status/ect?

[2022-09-26 17:23] Wood-Jack commented on #67
How to contribute: https://github.com/smartcontractresearchforum/docs/blob/main/en/grants_general_contributors.md

[2022-09-26 18:09] ttaloute commented on #125
Since completing it I only added Renee and generally can check in monthly to make sure it's reflecting current contractors. I imagine its most helpful for @SirAh0  and @eleventh19 for budgeting and access management purposes.

[2022-09-26 19:49] zubepaul commented on #196
### Notes
For current week, moving to a fully issue ticket pay for right now. Will be done by the end of the day September 26th
Issue item 2: Reducing the number of meetings, but not completely getting rid of meetings. Potentially moving to an optional meeting style. Offsetting the meetings between engagement and onboarding/moderation. Potentially have all meetings on the same day for efficiency p

[2022-09-26 20:02] SirAh0 commented on #125
Super useful! Thank you!

[2022-09-26 20:09] SirAh0 commented on #159
I've brought this issue into the [main ticket](https://github.com/smartcontractresearchforum/engagement/issues/194)

and the [Chat Project Board](https://github.com/orgs/smartcontractresearchforum/projects/31/views/8)

[2022-09-26 20:22] #67 closed

[2022-09-26 20:34] okoba opened #197 "Discord 5"
### Discord 5 Internal Mini-grant
**Tasks**
- [x] Write Discord 5 with links
- [x] Announce on Discord research channel
- [x] Link to Socials Board

**Billing**
Billed at 30 DAI

 "Discord 5" Opportunity:
Want to have a deep conversation while earning Source Cred?
Then join any of these discussions:
1. In this paper, The authors attempt to fill a significant gap in the literature by completing a s

[2022-09-26 20:37] zubepaul commented on #197
@MichaelSCRF Discord 5 issue is now up

[2022-09-26 21:09] zubepaul opened #198 "Internal Grant: Thread curation"
### Description
This is a grant for Contributor or higher status community members.
[DeFiRANGERS forum post](https://www.smartcontractresearch.org/t/research-summary-defirangers-detecting-price-manipulation-attacks-on-defi-applications/1657/1)
### Steps
- [ ] Propose a summary of the discussion so far in a linked document
- [ ] Propose tags that should be applied to the thread based on what is hap

[2022-09-27 12:29] circusqp commented on #74
Update: this survey is currently up and running in the community channel on discord. It has 3 days left to go based on the time we had allocated it (10 days). In the meantime, I will add the analysis plan here shortly.

[2022-09-27 13:41] zubepaul commented on #193
## Agenda September 27, 2022
- Gamification and quests are the primary focus of the meeting. Work toward having a project plan and supports for that plan
- Might consider badges/reputation systems as well

### Preparation Materials
- #103
- https://miro.com/app/board/uXjVO2n0xm8=/
- https://app.optimism.io/quests

[2022-09-27 13:49] #124 closed

[2022-09-27 16:27] #156 closed

[2022-09-27 16:28] SirAh0 commented on #111
it's been added awhile ago!

[2022-09-27 16:28] #111 closed

[2022-09-27 16:45] SirAh0 commented on #194
Take a second look at the main start here category to embellish it more for onboarding purposing.  @ttaloute

[2022-09-27 18:46] SirAh0 commented on #103
I've converted this issue into an Epic we can use to guide this project.

I also opened a new project proposal per PM guidance with new process. It's linked above in the body of this issue.

[2022-09-27 20:02] zubepaul commented on #193
### Notes
Potential tools to use
Paths we take people on: https://miro.com/app/board/uXjVO2n0xm8=/
Onboarding tools: https://mercle.xyz/
What we can use for building quests: https://101.xyz/
How we can manage membership: https://guild.xyz/explorer

Make sure that we are updating and working off of the #103 issue as the Epic.

Also need copy from ticketing tool.

[2022-09-28 15:12] zubepaul commented on #192
## Agenda September 28, 2022
- Summary template
- Moderation Goals as Community Call from minutes #170
- Preparation for cohort

### Preparation materials
- #170 good conversation ideas

[2022-09-28 18:27] zubepaul commented on #192
### Notes
Recommendations for top discussions on a new wallet is going to go into the research channel.
- Agenda addition Level 3 the whole moderation team?
- The ticket tool might also be able to manage the grant application/approach. Probably need to do an engagement grant/bounty breakout call with @SirAh0 @ttaloute @zubepaul

**Discussion Summary template**
- In 1-2 sentences, what is the resea

[2022-09-28 18:30] zubepaul commented on #198
Here is the [template](https://github.com/smartcontractresearchforum/engagement/issues/192#issuecomment-1261309241)

[2022-09-29 09:21] Yesh-2691 opened #199 "Engagement Test"

[2022-09-29 09:49] Yesh-2691 opened #200 "[Name of the Annual Epic]"

[2022-09-29 09:59] Yesh-2691 opened #201 "[Name of the Quartely Epic in another Quarter]"

[2022-09-29 11:26] Yesh-2691 opened #202 "Overhaul of Engagement Process"

[2022-09-29 18:35] zubepaul opened #203 "Moderation Bounty"
### Description
This bounty covers tasks related to moderation at the contributor level. It requires membership in the moderation team to accomplish and claim.

### Tasks
- [x] Discord 5 for weeks starting 9/26/2022 and 10/3/2022

**Moderation cultivation for the following threads**
- [x] https://www.smartcontractresearch.org/t/research-summary-understanding-security-issues-in-the-nft-ecosystem/13

[2022-09-30 15:01] zubepaul opened #204 "SourceCred October Meeting"
# Agenda
- Old business from

[2022-09-30 17:57] zubepaul opened #205 "Moderation Bounty"

[2022-10-03 13:46] zubepaul opened #206 "🗪 [📅] Modify Monday Community Call calendar event"
### Describe Problem

The Monday Community Call should be renamed to SCRF Announcements and Opportunities. It should be a 30 minute meeting. Right now, it is scheduled as an hour long meeting. This needs to change both on the Discord and also on the Google calendar itself.

[2022-10-03 14:13] SirAh0 commented on #206
done!

[2022-10-03 14:13] #206 closed

[2022-10-03 14:21] zubepaul opened #207 "🗪 [📅] Onboarding BootCamp"
### Describe Problem

Please change the time for the Onboarding Bootcamp from 5pm EST to 11am EST

[2022-10-03 14:44] SirAh0 commented on #207
updated!

[2022-10-03 14:44] #207 closed

[2022-10-04 14:47] okoba commented on #203
Thread curation #197

**Proposed Summary
[]https://docs.google.com/document/d/1tzjb2gY1tmQVJ_olDcMuPNIe_RdyjGDScyj55jMi1eg/edit?usp=sharing

  ** Proposed Tag : DEFI , ethereum, manipulation,game theory, securitization

  ** Table of content.
   1. Summary post
   2. Researchers proposal
   3. random questions and author's response
   4. proposed solutions

 ** **Threads of interest**
here's a lis

[2022-10-04 14:48] okoba commented on #203
@zubepaul

[2022-10-04 16:28] zubepaul commented on #193
# Agenda October 4, 2022
There is a minimal agenda for this meeting, mostly updates.
- Analysis of survey data @circusqp
- Update on quest progress/project plan @saulthorin and @SirAh0
- Onboarding session on Thursday

## Preparation Materials
- #103

## Meeting Note
These updates might be easy to do via a GitHub issues instead of a meeting. I will be in the meeting more like an "Office Hours" app

[2022-10-04 17:06] MichaelSCRF commented on #197
@zubepaul, this Discord 5 is published and this issue is prepared to be closed.

[2022-10-04 19:58] zubepaul commented on #193
## Notes
- New ticketing tool is making progress and could be the starting spot of quests
- Prototype of Mercle could be done sooner than anticipated. Need to make sure that ticket tools is non-redundant. Tickets can also be used as a place to put and manage bounties. Make sure to wrap bounties into quests. Mercle does form filling and keeps us from having to onboard via Discord. 101coursebuilder

[2022-10-05 15:10] zubepaul commented on #203
@okoba What are the links to the table of contents?

[2022-10-05 15:17] zubepaul commented on #192
# Agenda October 5, 2022
This is an optional meeting.
- **Bounty Reviews/Questions:** An opportunity to discuss questions you might have about moderation bounties that are actively being worked on.
- ** Moderation Response Language:** This is an action item and a to do. This needs to be developed and should be tracked by an issue.
- **Moderation Skill Path:** In support of onboarding issue #103 an

[2022-10-05 15:25] #92 closed

[2022-10-05 15:44] zubepaul commented on #187
Associate this with moderation skill tree

[2022-10-05 15:46] #189 closed

[2022-10-05 15:48] #191 closed

[2022-10-05 15:51] #174 closed

[2022-10-05 15:52] zubepaul commented on #192
Related to October 5 meeting. This document is a JD that a skill tree could potentially be associated with.
https://docs.google.com/document/d/14xB70CFpcbRaIjZVEqBKBrkmFSOIZlaaK447cRBHRqo/edit#heading=h.l899m8k3v6mr

[2022-10-05 17:29] zubepaul commented on #103
Also consider this issue in the Discovery repo https://github.com/smartcontractresearchforum/discovery/issues/296

[2022-10-05 18:08] okoba commented on #187
alright,how do i go about that ?

[2022-10-06 17:55] okoba commented on #203
1. Proposed document :[https://docs.google.com/document/d/1y4lj062WU0QPSokTGDL5PSBAoBxPSLl_oPAEg7Hjj40/edit?usp=sharing]

2.3. Threads of interest.
1.(https://www.smartcontractresearch.org/t/research-summary-defirangers-detecting-price-manipulation-attacks-on-defi-applications/1657/10?u
2. https://www.smartcontractresearch.org/t/research-summary-sok-decentralized-finance-defi/1055/2?u
3. https://w

[2022-10-06 17:56] okoba commented on #203
@zubepaul the table of content is apart of the doc i sent earlier

[2022-10-07 18:16] SirAh0 opened #208 "October Chat Guild Agenda - 2022"
**Agenda**
- Discord official server analytics
-

**Resources**
🔗[Google Slide Presentation](https://docs.google.com/presentation/d/1clLxrtyISBhjCOhMaIIlH3Q6tRRjVYiYUmEGAuTvC4A/edit?usp=sharing)

**TODOs**
- [ ] Don't forget to record!

[2022-10-07 18:40] SirAh0 opened #209 "Apply Here Channel Audit - Oct 2022"
- [ ] fill this out @SirAh0

see parent issue
https://github.com/smartcontractresearchforum/engagement/issues/208

[2022-10-07 20:21] SirAh0 commented on #208
- collapse of apply-here
- does the term apply even have the same relevance?

[2022-10-07 20:34] SirAh0 commented on #208
- activity based trust levels and decay, mee6

[2022-10-08 00:10] okoba commented on #203
1. Proposed document; https://docs.google.com/document/d/1ql_GrVt9a-IcZMgCy5pcUykPOevVmpwFBFZms7ojfM0/edit?usp=sharing[]
2. Threads of interest .
1.https://www.smartcontractresearch.org/t/research-summary-understanding-security-issues-in-the-nft-ecosystem/1350/6?u[]
2.https://www.smartcontractresearch.org/t/research-summary-understanding-security-issues-in-the-nft-ecosystem/1350/13?u[]
3.https://w

[2022-10-08 00:10] okoba commented on #203
@zubepaul

[2022-10-08 12:57] okoba commented on #203
Proposed doc .
[](https://docs.google.com/document/d/1xz2SBN57GzBCnNU7VrdGMGM-6_mmeXbcPm6XMHRuCuw/edit?usp=sharing

Threads of interest.
here's a list of top comments about the topic ;
1. https://www.smartcontractresearch.org/t/research-summary-design-and-implementation-of-blockchain-based-e-voting/1885/14[]
2. https://www.smartcontractresearch.org/t/research-summary-design-and-implementation-of-b

[2022-10-08 14:52] okoba commented on #203
proposed doc ;
https://docs.google.com/document/d/13Ma_NmclRF9aO9-QQ87uze09VMr6EgMQX8EBO_h9RYc/edit?usp=sharing[]

 threads of interest .
1. https://www.smartcontractresearch.org/t/discussion-post-a-stable-legal-framework-for-digital-uniqueness/561/15?u[]
2. https://www.smartcontractresearch.org/t/discussion-post-a-stable-legal-framework-for-digital-uniqueness/561/13?u[]
3. https://www.smartcontra

[2022-10-09 01:35] okoba commented on #203
proposed doc : https://docs.google.com/document/d/13tKLzNyTtlFuH3EZVHD71riZ0h6h9b1aCtxN3wH2Vuo/edit?usp=sharing[]

threads of interest.
1. https://www.smartcontractresearch.org/t/research-summary-post-quantum-security-of-the-bitcoin-backbone-and-quantum-multi-solution-bernoulli-search/263/5?u[]
2. https://www.smartcontractresearch.org/t/research-summary-post-quantum-security-of-the-bitcoin-backbon

[2022-10-09 01:35] #203 closed

[2022-10-10 14:29] zubepaul commented on #196
Ticket update:
**Removing**
- Link prior meeting agendas and notes

**Adding**
- #103
- #175
- #153

[2022-10-10 18:59] zubepaul commented on #196
## Notes October 10
**Feedback on Mercle**
Might need initial description of those drop down menus. Maybe adding (in the future) looking for employment as a filter? We would then have to consider if that goes through this or if we pick them up in a different process.
- What describes you the best? is probably not great language. What you are looking for might be a better header and just lead quest

[2022-10-11 08:51] vincenzospaghetti commented on #71
Not that I know of. I believe this was something @***@***.***
***@***.***> was interested in

On Tue, Aug 9, 2022 at 6:38 AM zubepaul ***@***.***> wrote:

[2022-10-11 09:13] okoba commented on #203
didn't anticipate that will drop the link

On Wed, Oct 5, 2022 at 4:11 PM zubepaul ***@***.***> wrote:

[2022-10-11 18:19] zubepaul commented on #193
# Agenda October 11, 2022
This is an optional meeting.
- Review and provide feedback on the Mercle [onboarding process](https://www.figma.com/proto/o7GBdApogZJp2iLCxg0UMB/SCRF?page-id=0%3A1&node-id=1%3A20961&scaling=scale-down-width&starting-point-node-id=1%3A20961&show-proto-sidebar=1) prototype. This was also a topic during the #196 for October 10.
- Discuss initial quests to help inform #103

#

[2022-10-11 19:39] zubepaul commented on #193
## Notes October 11, 2022
**Ticket Tool Update**
- New ticketing tool update. Bounties still make sense to do via GitHub. Use the ticket tool so that membership matters. Need to build the technical parts of bounties and then we can build out to other service. Make sure that @SirAh0 gets connected with @isss111 and @Yesh-2691 about bounty tool capabilities.
- Quests and bounties are somewhat synony

[2022-10-11 21:16] zubepaul commented on #203
Tags updated on the forum.

[2022-10-11 21:38] zubepaul commented on #120
Design a template for discussion summary. Use the post by [Raha](https://www.smartcontractresearch.org/t/discussion-post-what-are-the-current-major-topics-of-discussion-and-research-in-mev/560/23) as the example to work on a template toward.

[2022-10-11 21:45] zubepaul commented on #192
# Agenda October 12, 2022
This is an optional meeting.
- Discord 5 and state of moderation strategy
- Discuss templating for discussion summary.
- Quests that feed moderation development

## Preparation materials
- #120
- #140

[2022-10-12 18:01] ttaloute commented on #205
summary 1: https://docs.google.com/document/d/1i8lyLsXWZe_D0-bOQJH9L4Th-Qyt5PCgGCBonWmPcc8/edit

[2022-10-12 18:50] zubepaul commented on #192
### Notes Oct. 12, 2022
**Discord 5**
- Potentially of value to the community as it does seem to get some impact on the forum, but this is perceptual. It is difficult to collect this data, but it seems like it is doing something. We're going to do a poll in the Community section of Discord **Action Item**
**Template of Discussion Summary**
- Template is helpful for people because it is easy to cat

[2022-10-12 19:26] Yesh-2691 opened #210 "This is a Contributor Only Bounty"

[2022-10-13 14:17] SirAh0 opened #211 "SourceCred - October Agenda"
# Agenda

- Docs updated with new collapse format
- New Opt In location on Discord
- Review how to find previous guild notes and meets
- Ways to redistribute monthly unclaimed return cred

disbursement models @zubepaul
- parameters of sourcecred
	- node / edge weights
- degredgation of score
- push rewards to active over inactive
- hybrid approach
	- recent activity v long
	- carve up the return p

[2022-10-13 17:28] zubepaul opened #212 "Coffee House Improvement"

[2022-10-13 18:35] zubepaul commented on #203
Bounty will be considered completed and billable once all comments are on the forum.

[2022-10-13 18:36] zubepaul opened #213 "Moderation Bounty: Curation"

[2022-10-13 19:14] zubepaul commented on #205
Discussion summary body approved to post and header is being updated on the forum currently

[2022-10-13 20:36] Yesh-2691 opened #214 "Developing an issue template for Tasks"

[2022-10-14 20:22] SirAh0 commented on #211
how can we market this imitative
- target writers
- new opportunity to engage and get paid out for new content
- special run of offers to promote new content
- hello @smartcontractresearchforum/discovery

[2022-10-14 20:24] Coinproz commented on #211
anti-plagiarism api for the sake of protecting the forum integrity

[2022-10-14 20:25] Coinproz commented on #211
how to utilize past payouts and community compensation to encourage participation from industry writers that are being underpaid or exploited

[2022-10-14 20:27] SirAh0 commented on #211
how can we tell a user story who has risen up through the ranks

[2022-10-14 20:33] Coinproz commented on #211
quantitative analysis in the form of sourcecred and qualitative analysis in the form of community feedback

[2022-10-14 20:36] SirAh0 commented on #211
matthew omeje
I started at 0. Think I'm at 1.4 now.
Harvesto also

@Coinproz
also analyze how many 0 scores are in the population over time
0 score would represent people registering and not participating, so a lowering 0 score would be good, while an increase would be bad

[2022-10-14 20:42] SirAh0 commented on #211
@zubepaul
year end sourcecred guild roll-up
all guild roll ups?

[2022-10-14 20:44] Coinproz commented on #211
connect with michael and maria

[2022-10-15 10:15] DecntrlzNP commented on #211
is there any way to recover the undelivered source cred due to, screenname change? I did not receive my contribution for last month but it was due to my smart @$$ changing it

[2022-10-17 17:12] #197 closed

[2022-10-18 12:36] zubepaul commented on #211
@DePONotary Because unclaimed DAI goes into a return pool that gets distributed, there is not a way to recover prior DAI. If you make changes in the future like that, just fill out the form on Discord again and make a note of the change. I think that would solve that problem going forward.

[2022-10-18 13:43] zubepaul opened #215 "Experimental Cultivation Bounty 1"
*Note*
This is an experimental bounty. An individual may only claim 1 of these.

## Bounty Description
SCRF provides value to forum readers by summarizing existing discussions on threads so that future participants can have a short-cut to key questions, frameworks, solutions, and insights. This bounty outlines how to provide that for the [What is a DAO?](https://www.smartcontractresearch.org/t/res

[2022-10-18 16:42] SirAh0 commented on #175
Happy to help set something up. @0xAngle Feel free to reach out if you want to chat and catch up.

[2022-10-18 16:54] SirAh0 commented on #189
Getting the work done and tracking via the following issue

https://github.com/smartcontractresearchforum/IT/issues/126

[2022-10-18 17:52] SirAh0 commented on #189
New onboarding issue template is done
https://github.com/smartcontractresearchforum/IT/issues/new?assignees=SirAh0&labels=onboard&template=onboarding.yml&title=Onboard+-+

This url is found from visiting the IT Issues Page:
https://github.com/smartcontractresearchforum/IT/issues/new/choose

[2022-10-18 18:10] 0xAngle commented on #175
Sure, we can set a time to chat. I'm not entirely sure how we would go about this so perhaps you can explain what is possible on your end. What's the best way to chat about this with you @SirAh0

[2022-10-18 18:20] zubepaul commented on #193
# Agenda October 18, 2022

This is an optional meeting dedicated to continuing the work from last week and starting to lay out quests

## Agenda Items
- Selection of initial quest(s)
- Development of narrative
- Technical needs

**Action Item** Have a functioning test example through the test server

### Preparation Materials
- Notes from October 11 meeting (above)

[2022-10-18 18:54] SirAh0 commented on #175
Lets find time on my calendar; Thursday or Friday are good for me pretty much any time.

[2022-10-18 20:01] zubepaul commented on #193
## Notes from October 18, 2022

Most of the work of the meeting content is reflected in the [Onboarding Quest Drafts](https://docs.google.com/document/d/1PRVSnMscLKnlScrPL8aJ_PsIDwzR-GND98dcwVVaszY/edit#heading=h.e8io7i4xb0wh)

Also a trial 101.xyz quiz/quest was created.

[2022-10-19 15:31] okoba commented on #213
1. proposed doc :[]https://docs.google.com/document/d/17IwambX003rqlnSm_bDqodU96YlDweh2gFFBLUoIbx0/edit

threads of interest .
* https://www.smartcontractresearch.org/t/research-summary-post-quantum-security-of-the-bitcoin-backbone-and-quantum-multi-solution-bernoulli-search/263/1[]
*https://www.smartcontractresearch.org/t/research-summary-post-quantum-security-of-the-bitcoin-backbone-and-quantum-

[2022-10-19 18:59] zubepaul commented on #192
## Notes from October 19, 2022
- Generated [Moderation Tasks and Levels](https://docs.google.com/document/d/1mZx9c0WTtGe8SL3Hj90rrkRrWTqTduPp1EqS11flZXQ/edit#heading=h.5t0a16foz3vt) document.
- Action item is to provide feedback on this @ttaloute @okoba

[2022-10-20 13:54] zubepaul opened #216 "Moderation Development Process"

[2022-10-20 17:01] zubepaul opened #217 "Experimental Cultivation Bounty 2"
*Note*
This is an experimental bounty. An individual may only claim 1 of these.

## Bounty Description
SCRF provides value to forum readers by summarizing existing discussions on threads so that future participants can have a short-cut to key questions, frameworks, solutions, and insights. This bounty outlines how to provide that for the [A short survey on business models of decentralized finance

[2022-10-20 17:11] zubepaul opened #218 "Experimental Cultivation Bounty 3"

[2022-10-20 17:55] DePONotary commented on #211
Heard, and I think I have the form should be revise and have a place for notes just to also record the change.

[2022-10-20 18:55] okoba commented on #218
request for bounty

[2022-10-20 18:57] zubepaul commented on #218
Approved

[2022-10-21 06:33] HarvestoOrlando commented on #215
Request to claim the bounty.

[2022-10-21 13:29] zubepaul commented on #215
@HarvestoOrlando approved to move forward with bounty.

[2022-10-21 15:28] SirAh0 commented on #175
Thanks for taking the chat,
I've made the issue to track following our coversation
https://github.com/smartcontractresearchforum/IT/issues/132

[2022-10-21 16:59] SirAh0 opened #219 "📣 - <add name here>"
### Publish Date

10/22/2022

### Highlight URL

_No response_

### Logo URL

_No response_

### Announcement

this is just a test!

[2022-10-21 17:02] SirAh0 opened #220 "📣 - Another Test"
### Publish Date

10/22/2022

### Highlight URL

_No response_

### Logo URL

_No response_

### Announcement

hopefully this will show up on the PB now!

[2022-10-21 17:20] SirAh0 opened #221 "📣 - Final Test For Now!"
### Publish Date

10/25/2022

### Highlight URL

_No response_

### Logo URL

_No response_

### Announcement

should be good to go

[2022-10-21 18:33] SirAh0 opened #222 "Bounty - Community Only - Test"

[2022-10-22 17:08] 0xAngle commented on #153
[This Week @ SCRF Template.pdf](https://github.com/smartcontractresearchforum/engagement/files/9844893/This.Week.%40.SCRF.Template.pdf)

@marvino3

thoughts on this for a template for weekly posting in Discord? Paul mentioned doing something different for the forum though

[2022-10-24 17:43] zubepaul commented on #196
# Agenda October 24, 2022
- Bounty assessment from October
- Goal setting for November and December
Initial quest operational
Thread curation systematized
End of year updates
- Presentation of initial questing
- Project updates

[2022-10-24 18:32] marvino3 commented on #153
This is awesome! Are we going to be posting these as pdfs @0xAngle?  If so, I'd love to have our designer take a quick pass at this.

[2022-10-24 18:45] 0xAngle commented on #153
Yes the intention is to have this be a source of headlines of SCRF happenings to be posted in Discord in the PDF format. I want to be able to add links to the topics if they exist but I'm not sure discord supports that. @marvino3

[2022-10-24 18:46] 0xAngle commented on #153
I'd love to have the designed give some input. That notepad graphic is definitely pretty blurry and i see some issues with text and whatnot that need some help

[2022-10-25 18:48] zubepaul commented on #193
# Agenda October 25, 2022
- Presentation by @saulthorin regarding initial quests
- Initial quest needs
- End of year reports

### Action Items
- [ ] Feedback to Mercle
- [ ]

[2022-10-25 20:04] zubepaul commented on #193
## Notes October 25, 2022
- Mercle update: Vendor/implementation evaluation happening with @SirAh0 and @saulthorin for Mercle. That should be happening week of October 25. Want to make sure to use staging to see how easy it is to take control and make our own changes.
- Trial of 101.xyz needs to have an official SCRF account and likely a wallet. And then we can make some things off of this.

**Fun

[2022-10-26 00:07] 0xAngle commented on #153
So I think the current state of this is:

- We are working on locating a permanent home for this document to be so it can be visible on the forum and easily forwarded (and visible in preview) to discord

- I am searching for a way to integrate clickable links into the document that can direct people to the specific points. This will point them toward the place of discussion if they are so interest

[2022-10-26 13:43] zubepaul commented on #192
# Agenda October 26, 2022
- Overview of current work and progress
- Updates on Moderation Tasks and Levels
- Bounty review/assessment
- Management of routine tasks

## Preparation materials
- [Moderation Tasks and Levels](https://docs.google.com/document/d/1mZx9c0WTtGe8SL3Hj90rrkRrWTqTduPp1EqS11flZXQ/edit#heading=h.5t0a16foz3vt)

[2022-10-26 13:47] zubepaul opened #223 "Create Year End Content 2022"

[2022-10-26 14:00] SirAh0 commented on #192
I had a good chat with Maria regarding the [Announcements Funnel](https://github.com/smartcontractresearchforum/IT/issues/132) which I've included as one of the `routine tasks`. Will be chatting with Michael next to include socials.

Announcement requests can be made here:
`📣 - Announcement Request`
https://github.com/smartcontractresearchforum/engagement/issues/new/choose

[2022-10-26 14:12] zubepaul commented on #223
### First Deadline
November 4: First draft outlined. To be presented at Engagement Vertical meeting

[2022-10-26 18:25] reneedaos commented on #103
I've created an initial SCRF Citizen quest that can be completed in about 2-3 minutes using 101.xyz

Here is a private link that allows you to take the course: https://101.xyz/course/cl9pw9uno883109l1xea0q1ld

Below see a simple user flow that depicts how the badge can be used in onboarding and from where.

![Image](https://user-images.githubusercontent.com/43126993/198106272-a6ab4a1b-9822-4bd8-b0

[2022-10-26 18:31] reneedaos commented on #193
Hello team. Please see my post regarding SCRF Citizen badge for onboarding quests using guild 101.xyz

https://github.com/smartcontractresearchforum/engagement/issues/103#issuecomment-1292433332

I have set up an official SCRF account for this. Let me know what questions you have!

[2022-10-28 18:25] Yesh-2691 opened #224 "Project but a New Community Bounty"

[2022-10-28 19:41] zubepaul opened #225 "Evaluation plan and execution"

[2022-10-31 17:34] zubepaul commented on #193
# Agenda October 31, 2022
- Meeting structure
- Activity updates
- Project needs

[2022-10-31 17:35] zubepaul commented on #192
# Agenda October 31, 2022
- Meeting structure
- Activity update
- Project updates

[2022-10-31 18:28] ttaloute commented on #205
Summary 2 and 3: https://docs.google.com/document/d/15e4Goi1AblIpnvXsQbv0Hg2NSTu4zYG44dwZ0MUYWow/edit

[2022-10-31 18:30] zubepaul commented on #193
## Notes October 31
Paul is doing one onboarding and we need to make sure that the second one shows up in our recurring calendar.

Renee is working on the post for the MVP to the citizenship quest. **Action Items** Suggestions on content or Discord permissions. Also working on the implementation of the Mercle onboarding tool. The initial design is signed-off and now it is going to connect to the t

[2022-10-31 18:57] zubepaul commented on #192
## Notes October 31
Covered some meeting approaches and goals.
Tania update- working on the levels and tasks document and how this impacts the GTM board. Start off with a few things first
- Probably trying to do too many at once on the board. Identify what the most important tasks are. Level 1 first. Ready to do some curation.
- Also focusing on the forum a little more. Gets some benefit and get d

[2022-10-31 19:16] Yesh-2691 opened #226 "Test project"

[2022-10-31 19:42] Yesh-2691 opened #227 "Test"
### [Quarterly Epic </tag quarterly epic number here/>]
## </add the project name here/>

**Deadline: </DD Month YYY/>**
**Compensation: <xxx DAI>**
**Duration: </80h/>**
**For Approval: </Add type of approval based on bounty classification matrix/>**

[2022-10-31 19:46] Yesh-2691 opened #228 "Another test"

[2022-10-31 19:52] Ulyssesmathew commented on #217
Hi @zubepaul,
I'm interested in claiming this bounty.

Best,
Matthew

[2022-10-31 19:59] zubepaul commented on #217
@Ulyssesmathew Approved

[2022-11-01 18:42] Yesh-2691 opened #229 "Test project"

[2022-11-01 19:25] Yesh-2691 opened #230 "Check test"

[2022-11-01 20:35] Yesh-2691 opened #231 "Test Bounty for PPP Call"

[2022-11-02 04:00] HarvestoOrlando commented on #215
@zubepaul I am through with the bounty.

[2022-11-03 14:23] zubepaul opened #232 "Discord5 Forum Rollup"
## Description
Using the forum as a place to make a locked rollup of forum activity that is like the Discord 5 but has a stronger call to action

[2022-11-03 15:57] marvino3 commented on #153
Update from design: @MattDesigner is working on SCRF Spotlight imagery @zubepaul @0xAngle

[2022-11-03 21:25] Yesh-2691 commented on #233
# 03 Nov, 2022

- Bring engagement projects on to the experimental board and investigate some bountiable tasks.
- Checkin with Paul next week.
- Moderation:
   - Discussion summary posts: 15 or more comments , Discussion summary from the moderator from [this template](https://docs.google.com/document/d/1OBFHVezq8WBAIzx-cbq8tZdS-_W5UKPv5wf2QnTSKk0/edit#heading=h.ue87ujlt2heb)
   - Check-in with...

[2022-11-03 23:43] s-ben commented on #211
Very interesting [meeting](https://www.youtube.com/watch?v=VpY4PoXYMeY&t=2133s)!  A few reflections:

**On gaming:**

Glad to see this brought up. While SCRF is still "flying the party bus", this is the most important vulnerability IMO, especially if SCRF is looking to increase payouts.

Could see this being a problem, especially for academic content. @Coinproz also makes a good point about AI. In

[2022-11-04 14:23] reneedaos commented on #103
**Update:**

A forum post has been created as a guide to help guide new users through the badge claim process. Next steps are to work on badge integration with Discord using guild.xyz for member management. Will update soon!

The post: https://www.smartcontractresearch.org/t/what-is-a-scrf-citizen-and-how-to-claim-your-badge/2359

[2022-11-07 14:28] zubepaul commented on #205
Approved

[2022-11-07 15:00] zubepaul commented on #215
Feedback provided, bounty approved. Next step is to post on the forum. This will be what you refer to when invoicing happens later this month.

[2022-11-07 15:58] okoba commented on #218
hello Paul, this format is already in use. view:https://www.smartcontractresearch.org/t/discussion-post-on-pqc-quantum-vulnerabilities-of-blockchains/1854/35?u=gloriaokoba[] to see draft .
@zubepaul

[2022-11-07 16:34] zubepaul commented on #196
# Agenda November 7, 2022
- Internal reviews
- Exploration of Year End report
- Two week task commitments and projects on the go
- 2023 brainstorm starting

### Useful resources
- [Draft of EoY2022 Post](https://docs.google.com/document/d/1rKTHUNw6Ye2hD8BdNlWXQUxPL_YmowPdvKh8TbhVQGM/edit#heading=h.kf2qeyfa0yew)
- [Citizenship](https://www.smartcontractresearch.org/t/what-is-a-scrf-citizen-and-how-

[2022-11-07 21:59] zubepaul commented on #196
### Notes
Angel- SCRF Spotlight #153 also doing some routine work with getting information presented to the community (find project and link).  Needs for support and make sure to update the tickets
Renee - Encouraging the citizenship badge and connecting to the audience. Want to pilot what that can do with reputation systems. If people have questions, make sure to funnel them to the forum post. Ch

[2022-11-07 22:21] Ulyssesmathew commented on #217
Hi @zubepaul,

Bounty completed.

[2022-11-07 22:30] zubepaul commented on #217
Bounty approved to post. Please post to the forum. Next step is moderators to add tags and header note. This link can be used as evidence of completed bounty for the November 2022 invoice.

[2022-11-08 21:07] zubepaul commented on #153
Next steps while waiting on design @0xAngle
- Process document about how this is made each time
- Produce a draft template for what it looks like

[2022-11-08 21:12] zubepaul commented on #212
@0xAngle and @zubepaul create a how to find older content in a time efficient way light process and then define what a host will need in order to be prepared. We will also create a way to engage the community in surfacing content.

[2022-11-09 13:09] Yesh-2691 commented on #233
#Next Time

- [x] Onboarding bounty template https://github.com/smartcontractresearchforum/engagement/issues/66 here . Is this final?
- [x] Need to clean up the issue boards. Suggest a 'On Hold' list on the view to make it clear.

#Potential Bounties

- [x] smartcontractresearchforum/engagement#72
- [x] smartcontractresearchforum/engagement#64

To go on the Bounty board
- [x] smartcontractresearch

[2022-11-09 13:31] Yesh-2691 opened #234 "[Yesh's personal] Engagement projects audit"
#Next Time

- [ ] Onboarding bounty template https://github.com/smartcontractresearchforum/engagement/issues/66 here . Is this final?
- [ ] Need to clean up the issue boards. Suggest a 'On Hold' list on the view to make it clear.

#Potential Bounties

- [x] smartcontractresearchforum/engagement#72
- [ ] smartcontractresearchforum/engagement#64
- [ ] smartcontractresearchforum/bounties#52
- [ ] sma

[2022-11-09 21:09] Coinproz commented on #103
On SCRF citizenship-
Would be useful to do a survey of countries of SCRF community members to be able to give a visual representation of SCRF participation on a heat map. In context of creating levels for bounties, additional badging for identity verification or work history/CV verification could be a way to boost to level 2 for people who have a reputation they want to leverage without forcing pe

[2022-11-10 21:04] zubepaul commented on #216
Need to make sure we do an update on this @ttaloute

[2022-11-10 21:09] zubepaul commented on #72
This is primarily done, but suggests there are more documents to make in the future.

[2022-11-10 21:09] #72 closed

[2022-11-11 16:18] SirAh0 commented on #211
Thank you everyone for the feedback, I will try and summarize in todays meeting and continue the conversation.

[2022-11-11 18:09] SirAh0 commented on #211
That would be awesome!

[2022-11-11 20:39] zubepaul opened #235 "Peer Review Experimental Collaboration"
### Description
A project to trial peer-review TalentDAO generated writing group content.

*Note: This will require ops sign off for budget*
- [ ] Ops Approval

### Steps
- [ ] Write a project proposal
- [ ] Propose to ops
- [ ] Trial version
- [ ] Take away content generated

[2022-11-11 20:40] zubepaul commented on #235
@ufkhan97 In discussion with @saulthorin it seems like learnings from the peer review project should be applied to this proposal.

[2022-11-11 21:14] Coinproz commented on #211
Now might be a great time to stop paying people who sign up and don't participate if the goal is to encourage participation; in that paying people just to show up encourages people NOT to participate by giving them a reward in effect working against the goal.

[2022-11-11 21:26] Coinproz commented on #211
how to leverage guild report and turn narrative around sourcecred experiment into research grants

[2022-11-14 18:42] zubepaul commented on #193
# Agenda November 14, 2022
- Budget updates
- Project/task updates
- Next onboarding priorities

[2022-11-14 18:45] zubepaul commented on #192
# Agenda November 14, 2022
- Budget updates
- Project/task updates
- Moderation documentation and location

[2022-11-14 20:07] zubepaul commented on #192
### Notes November 14, 2022
**Gloria**: Discord 5 just got put up. Seeking a discussion summary topic.
**Tania** GTM board has information needs
- What has been organized already is an unknown
- @zubepaul to create a list of already moderated and discussion summary posts
- Expected timeline?

Updated the [Discussion Summary Template](https://docs.google.com/document/d/1OBFHVezq8WBAIzx-cbq8tZdS-_W5

[2022-11-15 00:00] 0xAngle commented on #153
https://docs.google.com/document/d/1EWSm9cejkhytDPN0haE1QDIS8HmyUiS6vTUfHBOk-gc/edit?usp=sharing

A draft template would require the design, no?

[2022-11-15 18:48] zubepaul commented on #153
It will require some of the design, but we also want to make sure that the substance makes sense

[2022-11-15 19:16] SirAh0 commented on #153
Friendly reminder that the Announcements Funnel is up and running.

Still working out the process as we go but any kind of announcement should be routed through here to make sure it gets the SCRF treatment.

Announcement requests can be made here:
📣 - Announcement Request
https://github.com/smartcontractresearchforum/engagement/issues/new/choose

[2022-11-16 18:21] zubepaul commented on #213
Are all of these now completed?

[2022-11-17 15:37] zubepaul commented on #196
# Agenda November 21, 2022
- SCRF Breadth vs. Depth
- Discuss the Mercle process and integration into onboarding.
- Discuss Citizen Badge

### Meeting Resources
- [Discovery Mercle Feedback](https://github.com/smartcontractresearchforum/IT/issues/148)

[2022-11-18 17:02] Yesh-2691 opened #236 "Curated Forum Experience"
### [Annual Epic smartcontractresearchforum/engagement#200]

### Curated forum experience
### Description:
This epic tracks work to improve the forum experience for end users by improving information architecture, providing discussion summaries, visual design cues, and including manual curation of reading/information seeking experiences.

----

### Objectives and Goals

- [ ] Objective 1

### Proj

[2022-11-18 17:38] Yesh-2691 commented on #233
### 18 Nov 2022

- [x] New bounty board and changes made.
- [ ] Create new bounties based on #140
- [ ] Connecting Discourse trust levels to Bounty.

[2022-11-21 19:26] zubepaul commented on #196
### Notes November 21
**Breadth vs. Depth** An overview discussion about target audience and how do we provide value for the depth that we would want. Impacting onboarding and moderation, so let's discuss strategy. Maybe we can do some more depth by consolidating. Create some events around an area of knowledge we would like to develop some knowledge around
- Citizenship discussion post is somethin

[2022-11-21 20:16] 0xAngle commented on #153
Hey there! Just want to check on the status of this

[2022-11-21 20:46] MattDesigner commented on #153
Hi! I think the initial designs are with still with @marvino3 for review?

[2022-11-21 20:58] marvino3 commented on #153
Yes, thank you for the push. Making a few revisions before sharing.

[2022-11-22 09:07] MattDesigner commented on #153
Design amends have been sent back to Maria for approval before sharing.

[2022-11-22 15:05] marvino3 commented on #153
Thanks Matt. @0xAngle @zubepaul please find the draft here: https://drive.google.com/file/d/1588FjBHjK8grNnBt3gPndQ3RlBvoCMVs/view?usp=share_link

Lmk if anyone needs permissions.

[2022-11-22 21:03] 0xAngle commented on #153
I think this is super great! Is there a way I can get an editable version of this?

Thanks

[2022-11-23 17:32] zubepaul commented on #153
@marvino3 @0xAngle
We are still thinking this will go on the /docs repo and then linked to/from, correct?

[2022-11-28 18:57] zubepaul commented on #193
# Agenda November 28, 2022
- PPP call and Mercle presentation
- Project/tasks updates
- Next level of onboarding?
- Creating year end report

[2022-11-28 19:30] zubepaul commented on #193
### Notes November 28
**Health pulse survey** We spend some time talking about what are some additional questions to add. Produced a few that were around community and value addition.
**Mercle** SCRF.io is getting a new section that has an onboarding section. We will be discussing Mercle in the PPP. So we will be showcasing this out to the PPP call. Getting feedback. More impactful will be having

[2022-11-28 19:31] zubepaul commented on #192
# Agenda November 28, 2022
- Update on bounty ideas
   - [new commenting guide bounty](https://github.com/smartcontractresearchforum/bounties/issues/55)
   - We also want to know from the community about various plagiarism tools and connect that to the forum. Example, if X posts an abstract, the forum will show a warning about the potential plagiarism.
- Projects and deadlines
- End of year
- Path

[2022-11-28 20:01] zubepaul commented on #192
### Notes November 28
**Bounties discussion** How do we compensate/reward/badge good work that happens on the forum in interesting and creative. And then, how do we make similar pipelines for other verticals.
**Action item* is to make a bounty for how to comment guide integration.
** Bounty for plagiarism** ask for API on tooling and if the community doesn't know, it might become a Level 1 bounty

[2022-11-28 20:07] okoba commented on #192
If it’s becomes a level 1 bounty, will there be a way to gauge its efficiency?

Sent from my iPhone

[2022-11-29 22:54] marvino3 commented on #153
@0xAngle awesome, it is editable for me if you open it w Acrobat Pro. Was there another format you were hoping for?

@zubepaul I think it does make sense to add those to /docs and probably promo/ refer to it in chat and other spots.